In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/processed/jobs_with_skills.csv')
df

,job_id,work_model,job_title,company_name,location,time_posted,num_applicants,xp_level,job_type,job_sectors,...,data storytelling,cloud computing,visualização de dados,problem solving,governança de dados,sql server,computação em nuvem,inteligência de negócios,data quality,python
0,4206089382,Remoto,Analista de Dados Júnior | Performance,Globo,"São Paulo, SP",Há 1 dia,NaN,Pleno-sênior,Tempo integral,"Tecnologia, Informação e Mídia",...,False,False,False,False,False,False,False,False,False,True
1,4208223818,Remoto,Engenheiro(a) de Software Sênior (Node.js/React),Flash,"São Paulo, Brasil",Há 1 dia,NaN,Não aplicável,Tempo integral,"Desenvolvimento de software, Atividades dos se...",...,False,False,False,False,False,False,False,False,False,False
2,4192790079,Híbrido,Engenheiro de dados Sr - Fábrica,SYNORO Negócios Inovadores,"São Paulo, SP",Há 2 semanas,NaN,Pleno-sênior,Tempo integral,Atividades de consultoria em gestão empresarial,...,False,False,False,False,False,False,False,False,False,False
3,4017612091,Presencial,Analista de Controladoria,Transporte Generoso,"Rio de Janeiro, RJ",Há 7 meses,100 candidaturas,Pleno-sênior,Contrato,Fretes e transporte de encomendas,...,False,False,False,False,False,False,False,False,False,False
4,4204758716,Presencial,ENGENHEIRO EP\nSão Paulo - SP\nEfetivo,Orizon Valorização de Resíduos,"São Paulo, SP",Há 4 dias,26 candidaturas,Assistente,Tempo integral,Serviços ambientais,...,False,False,False,False,False,False,False,False,False,False
5,4192224691,Híbrido,ANALISTA DE DADOS,Air Liquide,"São Paulo, SP",Há 2 semanas,63 candidaturas,Pleno-sênior,Tempo integral,Fabricação de produtos químicos,...,False,False,False,False,False,False,False,True,False,False
6,4209274223,Presencial,Pl data engineer,Netvagas,"São Paulo, SP",Há 3 horas,NaN,Assistente,Tempo integral,Fornecimento e gestão de recursos humanos,...,False,False,False,False,False,False,False,False,False,False
7,4209068127,Presencial,Data analyst specialist operations,Netvagas,"São Paulo, SP",Há 15 horas,NaN,Assistente,Tempo integral,Fornecimento e gestão de recursos humanos,...,True,False,True,False,False,False,False,False,False,True
8,4209015254,Presencial,Engenheiro sre,Netvagas,"São Paulo, SP",Há 21 horas,NaN,Assistente,Tempo integral,Fornecimento e gestão de recursos humanos,...,False,False,False,False,False,False,False,False,False,False
9,4161489781,Presencial,"Data Analyst (Bangkok Based, relocation provided)",Agoda,"Brasília, DF",Há 2 dias,NaN,Júnior,Tempo integral,"Tecnologia, Informação e Internet",...,False,False,False,False,False,False,False,False,False,True

In [4]:
df.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'str'