In [16]:
import pandas as pd

In [17]:
jobs_raw = pd.read_csv('../data/raw/jobs_data.csv')
jobs_raw.head()

,job_id,work_model,keyword,scrape_date,job_title,company_name,location,time_posted,num_applicants,xp_level,job_type,job_sectors,job_description
0,4219203458,Presencial,Analista de Dados,19-05-2025 07:56:44,Analista de Dados e Serviço ao Cliente Junior,Cielo,"Barueri, SP",Há 2 semanas,144 candidaturas,Assistente,Tempo integral,Atividades de serviços financeiros,"Job Description\nSomos mais que uma máquina, s..."
1,4229491792,Presencial,Analista de Dados,19-05-2025 07:56:44,Analista de dados de negócios,SulAmérica,"São Paulo, SP",Há 2 dias,189 candidaturas,Pleno-sênior,Tempo integral,Seguros e previdência complementar e Serviços ...,A SulAmérica há mais de 125 anos se dedica a e...
2,4209520797,Presencial,Analista de Dados,19-05-2025 07:56:44,Analista de Dados Júnior,Banco Fibra,"São Paulo, SP",Há 1 mês,126 candidaturas,Não aplicável,Tempo integral,Bancos,Somos um Banco que trabalha na busca do melhor...
3,4201072662,Presencial,Analista de Dados,19-05-2025 07:56:44,"Analista de Dados - Júnior, Pleno e Sênior | R...",Capco,"São Paulo, SP",Há 23 horas,189 candidaturas,Pleno-sênior,Tempo integral,Atividades de serviços financeiros,SOBRE A CAPCO\nA Capco é uma consultoria globa...
4,4223039814,Presencial,Analista de Dados,19-05-2025 07:56:44,Analista de Dados & Analytics Pleno | Riscos e...,C6 Bank,"São Paulo, SP",Há 1 semana,63 candidaturas,Assistente,Tempo integral,Bancos,Nossa área de Processos & Controles\nA área de...

In [18]:
jobs_raw['location'].isna().sum()

np.int64(0)

In [19]:
import pandas as pd

# Load data
jobs = pd.read_csv('../data/processed/jobs_raw_jobs_classified.csv')
skills = pd.read_csv('../data/processed/jobs_raw_skills.csv')

jobs.head()

FileNotFoundError: [Errno 2] No such file or directory: '../data/processed/jobs_raw_jobs_classified.csv'

In [ ]:
skills

           job_id                    skill
0      4219203458                      SQL
1      4219203458                    Excel
2      4229491792                 Power BI
3      4229491792              Estatística
4      4229491792               SQL Server
...           ...                      ...
59147  4249166932                    Cloud
59148  4249166932  Inteligência Artificial
59149  4249166932               Databricks
59150  4249166932                   Pandas
59151  4249166932       Pensamento crítico

[59152 rows x 2 columns]

In [ ]:
jobs_raw.shape

(10934, 13)

In [21]:
jobs_raw[
    (jobs_raw['work_model'] == 'Remoto') &
    jobs_raw.duplicated(subset=['work_model', 'job_title',
                                 'company_name', 'xp_level', 'job_type',
                                 'job_sectors', 'job_description'], keep=False)
].sort_values(by='job_title')['job_title'].value_counts()

job_title
Data Engineer                                                             47
Data engineer                                                             32
Engenheiro de dados senior                                                29
Blockchain Data Engineer (Senior/Lead) ID34521                            24
AI Engineer (Lead) ID34949                                                23
                                                                          ..
Senior Business Data Analyst, Brazil                                       2
Staff Data Scientist (Full-Time Contractor)                                2
[Customer Platforms] Sênior Data Scientist / Machine Learning Engineer     2
[Tecnologia] Analista de Dados Pleno - People Analytics                    2
[Tecnologia] Cientista de Dados Sênior                                     2
Name: count, Length: 208, dtype: int64

In [22]:
jobs_raw[jobs_raw.duplicated(subset=['work_model', 'job_title',
       'company_name', 'location', 'xp_level', 'job_type', 'job_sectors',
       'job_description'], keep=False)].sort_values(by='job_title')

,job_id,work_model,keyword,scrape_date,job_title,company_name,location,time_posted,num_applicants,xp_level,job_type,job_sectors,job_description
9813,4247305489,Remoto,Analista de Dados,11-06-2025 17:58:19,A analista de dados iii,Netvagas,Brasil,Há 8 horas,NaN,Pleno-sênior,Tempo integral,Fornecimento e gestão de recursos humanos,A Extreme Digital Solutions é uma empresa jove...
7396,4241059691,Remoto,Analista de Dados,31-05-2025 18:51:25,A analista de dados iii,Netvagas,Brasil,Há 23 horas,NaN,Pleno-sênior,Tempo integral,Fornecimento e gestão de recursos humanos,A Extreme Digital Solutions é uma empresa jove...
7574,4241935723,Remoto,Analista de Dados,01-06-2025 18:12:27,A analista de dados iii,Netvagas,Brasil,Há 3 horas,NaN,Pleno-sênior,Tempo integral,Fornecimento e gestão de recursos humanos,A Extreme Digital Solutions é uma empresa jove...
10772,4250896014,Remoto,Analista de Dados,17-06-2025 18:00:42,A analista de dados iii,Netvagas,Brasil,Há 14 horas,NaN,Pleno-sênior,Tempo integral,Fornecimento e gestão de recursos humanos,A Extreme Digital Solutions é uma empresa jove...
8518,4245293672,Remoto,Analista de Dados,05-06-2025 18:00:57,A analista de dados iii,Netvagas,Brasil,Há 8 horas,NaN,Pleno-sênior,Tempo integral,Fornecimento e gestão de recursos humanos,A Extreme Digital Solutions é uma empresa jove...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2197,4184241264,Remoto,Data Scientist,19-05-2025 07:56:44,[Customer Platforms] Sênior Data Scientist / M...,Stone,Brasil,Há 1 dia,25 candidaturas,Pleno-sênior,Tempo integral,Atividades dos serviços de tecnologia da infor...,Quem é Stone Tech?\nA Stone nasceu com o propó...
9996,4250015919,Remoto,Analista de Dados,12-06-2025 18:04:18,[Tecnologia] Analista de Dados Pleno - People ...,Contabilizei,Brasil,Há 1 hora,42 candidaturas,Pleno-sênior,Tempo integral,Atividades dos serviços de tecnologia da infor...,A sua missão:\nComo parte da nossa equipe de a...
479,4229315189,Remoto,Analista de Dados,19-05-2025 07:56:44,[Tecnologia] Analista de Dados Pleno - People ...,Contabilizei,Brasil,Há 5 dias,NaN,Pleno-sênior,Tempo integral,Atividades dos serviços de tecnologia da infor...,A sua missão:\nComo parte da nossa equipe de a...
663,4229309763,Remoto,Cientista de Dados,19-05-2025 07:56:44,[Tecnologia] Cientista de Dados Sênior,Contabilizei,Brasil,Há 5 dias,63 candidaturas,Pleno-sênior,Tempo integral,"Atividades de contabilidade, Agências e corret...","A sua missão:\nComo Cientista de Dados, você s..."
10180,4250266891,Remoto,Cientista de Dados,13-06-2025 18:23:03,[Tecnologia] Cientista de Dados Sênior,Contabilizei,Brasil,Há 11 horas,42 candidaturas,Pleno-sênior,Tempo integral,"Atividades de contabilidade, Agências e corret...","A sua missão:\nComo Cientista de Dados, você s..."

In [23]:
jobs[~jobs.duplicated(subset=['work_model', 'job_title',
       'company_name', 'xp_level', 'job_type', 'job_sectors',
       'job_description'], keep=False)]['classified_job_title'].value_counts()

classified_job_title
Outros                 2678
Analista de Dados      1451
Engenheiro de Dados    1422
Cientista de Dados      808
Analista de BI          668
Outros Dados            199
Engenheiro de IA        135
Engenheiro de ML        130
Name: count, dtype: int64

In [24]:
jobs.columns

Index(['job_id', 'work_model', 'keyword', 'scrape_date', 'job_title',
       'company_name', 'num_applicants', 'xp_level', 'job_type', 'job_sectors',
       'job_description', 'classified_job_title', 'post_date', 'city', 'state',
       'country'],
      dtype='object')

In [25]:
jobs[jobs['city'] == 'Distrito Federal']

Empty DataFrame
Columns: [job_id, work_model, keyword, scrape_date, job_title, company_name, num_applicants, xp_level, job_type, job_sectors, job_description, classified_job_title, post_date, city, state, country]
Index: []

In [27]:
jobs_raw[jobs_raw['location'].str.contains('Distrito Federal')]

,job_id,work_model,keyword,scrape_date,job_title,company_name,location,time_posted,num_applicants,xp_level,job_type,job_sectors,job_description
349,4218289529,Híbrido,Analista de Dados,19-05-2025 07:56:44,Analista de Dados,Central IT - Tecnologia em Negócios,"Distrito Federal, Brasil",Há 2 semanas,NaN,Não aplicável,Tempo integral,Atividades dos serviços de tecnologia da infor...,"A Central IT tem como propósito, “Inspirar Pes..."
3943,4234701732,Presencial,Data Engineer,21-05-2025 18:54:00,Azure Data Engineer,Decskill,"Distrito Federal, Brasil",Há 3 horas,NaN,Assistente,Tempo integral,Atividades dos serviços de tecnologia da infor...,"Decskill, founded in 2014 as an IT Consulting ..."
4428,4236409359,Remoto,Data Engineer,23-05-2025 18:04:21,Data Engineer,Brick Abode,"Distrito Federal, Brasil",Há 2 horas,NaN,Assistente,Tempo integral,Atividades dos serviços de tecnologia da infor...,"Hey, Dev, check the opportunity we have here a..."
7545,4241944274,Híbrido,Analista de Dados,01-06-2025 18:12:27,Analista De Dados Pleno (Híbrido Em Bh),Hect,"Distrito Federal, Brasil",Há 2 horas,NaN,Assistente,Tempo integral,Atividades de consultoria em gestão empresarial,Estamos em busca de um Analista de Dados Pleno...

In [28]:
jobs_raw['location'].unique()

array(['Barueri, SP', 'São Paulo, SP', 'Curitiba, PR', 'Maracanaú, CE',
       'Brasília, DF', 'Guará, DF', 'Campinas, SP', 'Fortaleza, CE',
       'Blumenau, SC', 'Indaial, SC', 'São Paulo e Região',
       'Rio de Janeiro, RJ', 'Porto Alegre, RS', 'Campo Grande, MS',
       'Contagem, MG', 'Mogi das Cruzes, SP', 'Uberlândia, MG',
       'Caxias do Sul, RS', 'Cravinhos, SP', 'Pereiro, CE', 'Macaé, RJ',
       'Itajaí, SC', 'Osasco, SP', 'Betim, MG', 'Palotina, PR', 'Brasil',
       'Goiânia, GO', 'Serra, ES', 'Novo Hamburgo, RS', 'Tijucas, SC',
       'Maringá, PR', 'Cachoeirinha, RS', 'Porto Alegre e Região',
       'Joinville, SC', 'Vitória, ES', 'Sorocaba, SP',
       'Ribeirão Preto, SP', 'Mossoró, RN', 'Marília, SP',
       'Jaraguá do Sul, SC', 'Arcos, MG', 'Dois Irmãos, RS',
       'São Bernardo do Campo, SP', 'Várzea Grande, MT',
       'Rio de Janeiro e Região', 'Belo Horizonte, MG', 'Aracaju, SE',
       'Pato Branco, PR', 'Vitória e Região', 'Franca, SP',
       'Rio do Sul, SC', 'Belo Horizonte e Região', 'Ibirama, SC',
       'Manaus, AM', 'Recife, PE', 'Embu das Artes, SP',
       'Eldorado do Sul, RS', 'Viçosa, MG', 'Leopoldina, MG',
       'Monte Belo, MG', 'Vila Velha, ES', 'Londrina, PR', 'Salvador, BA',
       'Naviraí, MS', 'Morrinhos, GO', 'Cuiabá, MT', 'Florianópolis, SC',
       'Jundiaí, SP', 'Belém, PA', 'Teresina, PI',
       'São José do Rio Preto, SP', 'Santo André, SP', 'Santa Rosa, RS',
       'Matão, SP', 'Sumaré, SP', 'Lucas do Rio Verde, MT',
       'Paulínia, SP', 'Ponta Grossa, PR', 'Paragominas, PA',
       'Carlos Barbosa, RS', 'Tailândia, PA', 'Ampére, PR',
       'Taguatinga, DF', 'Guarulhos, SP', 'Toledo, PR',
       'Florianópolis e Região', 'Igrejinha, RS', 'Pouso Alegre, MG',
       'Santa Cruz do Sul, RS', 'Garibaldi, RS', 'Rio Grande, RS',
       'Nova Lima, MG', 'Nova Santa Rita, RS', 'Piracicaba, SP',
       'Santos, SP', 'Vespasiano, MG', 'São Paulo, Brasil', 'Arujá, SP',
       'Rio de Janeiro, Brasil', 'Cascavel, PR', 'Lorena, SP',
       'Indaiatuba, SP', 'Distrito Federal, Brasil',
       'São João del-Rei, MG', 'Ribeirão Grande, SP', 'Dourados, MS',
       'Valinhos, SP', 'Cabo de Santo Agostinho, PE', 'Agudos, SP',
       'Alto Horizonte, GO', 'São José dos Pinhais, PR', 'Pinhais, PR',
       'Canoas, RS', 'Guarapuava, PR', 'Barretos, SP',
       'Campinas e Região', 'Goiânia e Região', 'Curitiba e Região',
       'Bebedouro, SP', 'Hortolândia, SP', 'Recife e Região',
       'Palhoça, SC', 'Limeira, SP', 'Nova Iguaçu, RJ',
       'Jaboatão dos Guararapes, PE', 'Natal, RN', 'Ribeirão, PE',
       'São Luis, PA', 'São José dos Campos, SP', 'Jandira, SP',
       'Parauapebas, PA', 'Eusébio, CE', 'Itapevi, SP', 'São Luis, MA',
       'Ji-Paraná, RO', 'Poços de Caldas, MG', 'Cambé, PR', 'Belem, PA',
       'Serra do Salitre, MG', 'Chapecó, SC', 'Barão de Cocais, MG',
       'Santa Maria do Pará, PA', 'São Bento do Sul, SC', 'Cajamar, SP',
       'Manacapuru, AM', 'Barbacena, MG', 'Gavião Peixoto, SP',
       'Colina, SP', 'Jaguariúna, SP', 'Rio Brilhante, MS',
       'Mato Dentro, MG', 'Lagoa da Prata, MG', 'Sertãozinho, SP',
       'Itabira, MG', 'Ouroeste, SP', 'Ibaté, SP', 'Olímpia, SP',
       'Franco da Rocha, SP', 'Canaã dos Carajás, PA', 'Mariana, MG',
       'Angra dos Reis, RJ', 'Itaberaí, GO', 'Guaratinguetá, SP',
       'Cataguases, MG', 'Ouro Branco, MG', 'São Caetano do Sul, SP',
       'Corumbá, MS', 'São João da Barra, RJ', 'Sergipe, Brasil',
       'Camaçari, BA', 'Rio Grande do Sul, Brasil', 'Belém e Região',
       'Cachoeiro de Itapemirim, ES', 'Aparecida de Goiânia, GO',
       'Cabreúva, SP', 'Brasília e Região', 'Cocalinho, MT',
       'Candeias, BA', 'Guadalupe, PI', 'Cruz Alta, RS', 'Barcarena, PA',
       'São Francisco do Conde, BA', 'Navegantes, SC', 'Ipojuca, PE',
       'Içara, SC', 'Balneário Camboriú, SC', 'Várzea da Palma, MG',
       'Concórdia, SC', 'Americana, SP', 'Varginha, MG', 'Boa Vista, RR',
       'Niterói, RJ', "Sant'Ana do Livramento, RS", 'Itajubá, MG',
       'Montes Claros, MG', 'Bagé, RS', 'Luís Eduardo Magalhães, BA',
       'Campina Grande, PB', 'Sorriso, MT', 'São Carlos, SP',
       'Videira, SC', 'Uruguaiana, RS', 'Tapejara, RS', 'Taubaté, SP',
       'Curvelo, MG', 'São José, SC', 'São Luís, MA', 'Juiz de Fora, MG',
       'Salvador e Região', 'Uberaba, MG', 'Guaíba, RS', 'Pedreira, SP',
       'Vinhedo, SP', 'Engenheiro Beltrão, PR', 'Porto Feliz, SP',
       'Suzano, SP', 'Diadema, SP', 'Montenegro, RS', 'Cariacica, ES',
       "Santa Bárbara d'Oeste, SP", 'Cotia, SP', 'Linhares, ES',
       'Caruaru, PE', 'Olinda, PE', 'Campo Largo, PR', 'Parnamirim, RN',
       'Natal e Região', 'Campos dos Goytacazes, RJ',
       'Duque de Caxias, RJ', 'Resende, RJ', 'Guarapari, ES',
       'Porto Velho, RO', 'Gaspar, SC', 'Marabá, PA', 'Castanhal, PA',
       'Santarém, PA', 'Anápolis, GO', 'Rio Verde, GO', 'Brusque, SC',
       'Guaramirim, SC', 'Criciúma, SC', 'Timbó, SC', 'Lages, SC',
       'Biguaçu, SC', 'Tubarão, SC', 'Porto Belo, SC', 'Itapema, SC',
       'Paranaguá, PR', 'Campina Grande do Sul, PR', 'Colombo, PR',
       'Francisco Beltrão, PR', 'Fazenda Rio Grande, PR', 'Arapongas, PR',
       'Foz do Iguaçu, PR', 'Cabedelo, PB', 'Caratinga, MG',
       'João Pessoa, PB', 'Arapiraca, AL', 'Maceió, AL', 'Viana, ES',
       'Rio Branco, AC', 'Petrolina, PE', 'Caucaia, CE',
       'Quatro Barras, PR', 'Araquari, SC', 'Feira de Santana, BA',
       'Vitória da Conquista, BA', 'Três Lagoas, MS', 'Araucária, PR',
       'Patos de Minas, MG', 'Lavras, MG', 'Divinópolis, MG',
       'Ribeirão das Neves, MG', 'Extrema, MG',
       'Governador Valadares, MG', 'Sete Lagoas, MG', 'Ipatinga, MG',
       'Juazeiro do Norte, CE', 'Imperatriz, MA', 'Itatiba, SP',
       'Primavera do Leste, MT', 'Sinop, MT', 'Passo Fundo, RS',
       'Taboão da Serra, SP', 'Bragança Paulista, SP', 'Guarujá, SP',
       'Araras, SP', 'Rio Claro, SP', 'Presidente Prudente, SP',
       'Praia Grande, SP', 'Louveira, SP', 'Mogi Guaçu, SP',
       'Nova Odessa, SP', 'Pindamonhangaba, SP', 'Atibaia, SP',
       'Araraquara, SP', 'Itu, SP', 'Caraguatatuba, SP',
       'Ribeirão Pires, SP', 'Araçatuba, SP', 'Caieiras, SP',
       'Itapecerica da Serra, SP', 'Mauá, SP', 'Jacareí, SP',
       'Votorantim, SP', 'Santana de Parnaíba, SP', 'Bauru, SP',
       'Cabo Frio, RJ', 'Petrópolis, RJ', 'São Gonçalo, RJ',
       'Rio das Ostras, RJ', 'Volta Redonda, RJ', 'Campo Bom, RS',
       'São Leopoldo, RS', 'Ijuí, RS', 'Gramado, RS',
       'Capão da Canoa, RS', 'Alvorada, RS', 'Esteio, RS', 'Pelotas, RS',
       'Bento Gonçalves, RS', 'Flores da Cunha, RS', 'Santa Maria, RS',
       'Estância Velha, RS', 'Sapucaia do Sul, RS', 'Itabirito, MG',
       'Farroupilha, RS', 'Conselheiro Lafaiete, MG', 'Lagoa Santa, MG',
       'Viamão, RS', 'Álvares Machado, SP', 'Rondonópolis, MT',
       'Macapá, AP', 'Ituiutaba, MG', 'Campo Grande, SP',
       'Duque de Caxias, BA', 'Camboriú, SC', 'Ananindeua, PA',
       'Sarzedo, MG', 'São José do Inhacorá, RS', 'Cunha Porã, SC',
       'Fundão, ES', 'Gravataí, RS', 'Palmas, PR', 'Paraná, Brasil',
       'Minas Gerais, Brasil', 'Itupeva, SP', 'Pernambuco, Brasil',
       'Mucuri, BA', 'Toledo, MG', 'Santa Luzia, MG',
       'Nova Santa Rita, PI', 'Itapeva, MG', 'Consolação, MG',
       'Piracaia, SP', 'Jaú, SP', 'Itaperuçu, PR', 'Cubatão, SP',
       'Conceição do Mato Dentro, MG', 'Leme, SP', 'Rio Branco, MT',
       'Santo André, PB', 'Barro Alto, GO', 'Valparaíso, SP',
       'Ouro Preto, MA', 'Itajai, RR', 'Cachoeira do Sul, RS',
       'São Bento do Una, PE', 'Montanha, ES', 'Alegria, RS',
       'Eunápolis, BA', 'Lajeado, RS', 'Caarapó, MS', 'Uruaçu, GO',
       'Congonhas, MG', 'Santo Augusto, RS', 'Timóteo, MG',
       'Rio Claro, RJ', 'São Carlos, SC', 'Descalvado, SP',
       'São Miguel do Oeste, SC', 'Registro, SP', 'Itaboraí, RJ',
       'Vargem Grande Paulista, SP', 'Santa Bárbara, MG', 'Guanambi, BA',
       'Samambaia, DF', 'São Sebastião, DF', 'Caçador, SC', 'Amparo, SP',
       'Lauro de Freitas, BA', 'Monções, SP', 'São Joaquim da Barra, SP',
       'Simões Filho, BA', 'Ilhéus, BA', 'Barreiras, BA', 'Avaré, SP',
       'Nossa Senhora do Socorro, SE', 'Cornélio Procópio, PR',
       'Barra do Turvo, SP', 'Itapetininga, SP', 'Agrovila 29, PE',
       'Lins, SP', 'Pontes e Lacerda, MT', 'Maricá, RJ',
       'São Pedro da Aldeia, RJ', 'Cacoal, RO', 'Planta, BA',
       'Rio Bananal, ES', 'Salto de Pirapora, SP', 'Cajazeiras, PB',
       'Itirapina, SP', 'Brotas, SP', 'Salgueiro, PE', 'Aripuanã, MT',
       'Barra Funda, RS', 'Itatiaia, RJ', 'Santa Rita de Ibitipoca, MG',
       'Barra Mansa, RJ', 'Mata de São João, BA', 'Valença, BA',
       'Goiás, Brasil', 'Ibiúna, SP', 'Abreu e Lima, PE', 'Cunhataí, SC',
       'Rio Quente, GO', 'Mangaratiba, RJ', 'São Lourenço do Oeste, SC',
       'São João de Meriti, RJ', 'Mirassol, SP', 'Bady Bassitt, SP',
       'Cuiabá e Região', 'Porto Seguro, BA', 'Correntina, BA',
       'Parnaíba, PI', 'Araguaína, TO', 'Goiás, GO',
       'Santo Anastácio, SP', 'Bom Princípio, RS', 'Cristalina, GO',
       'Várzea Paulista, SP', 'Colômbia, SP', 'Santa Catarina, Brasil',
       'Tatuí, SP', 'Crixás, GO', 'Riacho dos Machados, MG',
       'Paracatu, MG', 'Jeceaba, MG', 'Quirinópolis, GO',
       'Três de Maio, RS', 'Paraíso do Tocantins, TO', 'Cruz, CE',
       'Lauro Müller, SC', 'Pedro Afonso, TO', 'Benevides, PA',
       'Paranavaí, PR', 'Santo Antônio do Monte, MG', 'Mogi Mirim, SP',
       'Craíbas, AL', 'Europa, AM', 'Horizontina, RS',
       'São Gonçalo do Amarante, CE', 'Tucumã, PA', 'Morada Nova, CE',
       'Juruti, PA', 'Ceará, Brasil'], dtype=object)

In [ ]:
jobs_raw.to_csv('jobs_classified.csv')

In [29]:
jobs_raw = jobs[['job_title', 'classified_job_title']]
jobs_raw[jobs_raw['classified_job_title'] == 'Analista de Dados'].sample(10)

                                              job_title classified_job_title
3636           ANALISTA DE DADOS TI - VAGAS DISPONÍVEIS    Analista de Dados
451   Analista de Dados (Vaga Afirmativa Para Mulher...    Analista de Dados
6580  ANALISTA DE DADOS E NEGÓCIO (FARMACÊUTICO) - Q...    Analista de Dados
384               Banco de Talentos - Analista de Dados    Analista de Dados
165                                Analista de Dados SR    Analista de Dados
7240                                  Analista de Dados    Analista de Dados
4969                            Analista de Dados Pleno    Analista de Dados
204          ANALISTA DE DADOS TI - VAGAS PROFISSIONAIS    Analista de Dados
1961  Senior Data Analyst - Vaga Afirmativa para Mul...    Analista de Dados
160                                   Analista de dados    Analista de Dados

In [30]:
jobs_raw[(jobs_raw['classified_job_title'] == 'Engenheiro de IA') & (~jobs_raw['job_title'].str.contains('[Ee]ngenheiro|ENGENHEIRO|[Ee]ngineer'))]

                                      job_title classified_job_title
2712          AI ENGINEER - VAGAS PROFISSIONAIS     Engenheiro de IA
3375  AI ENGINEER - PROCESSOS SELETIVOS ABERTOS     Engenheiro de IA
3723            AI ENGINEER - VAGAS DISPONÍVEIS     Engenheiro de IA
3850          AI ENGINEER - ESTAMOS CONTRATANDO     Engenheiro de IA
5100         AI ENGINEER - POSIÇÕES DISPONÍVEIS     Engenheiro de IA
5687                  AI ENGINEER - CONTRATAMOS     Engenheiro de IA
5813  AI ENGINEER - PROCESSOS SELETIVOS ABERTOS     Engenheiro de IA
6344    AI ENGINEER - OPORTUNIDADES DE TRABALHO     Engenheiro de IA
6574           AI ENGINEER - PORTAL DE EMPREGOS     Engenheiro de IA
6648              AI ENGINEER - QUADRO DE VAGAS     Engenheiro de IA
7029           AI ENGINEER - OFERTAS DE EMPREGO     Engenheiro de IA

In [56]:
jobs_raw[~jobs_raw['classified_job_title'].str.contains(
    'Engenheiro de Machine Learning|Analista de Dados|Engenheiro de Dados|Cientista de Dados|Analista de BI|Engenheiro de IA', na=False)].sample(10)

                                              job_title classified_job_title
4537             Analista DP Jr | Viveo | Blumenau - SC               Outros
3922                     Engenheiro(a) de Vendas Ônibus               Outros
1183    Consultor de Engenharia de Projetos de Drenagem               Outros
4013  Artificial Intelligence Engineer, IgniteTech (...               Outros
1931       Tech Manager - Vaga Afirmativa para Mulheres               Outros
5446                             Field Service Engineer               Outros
4915                     Marketplace Performance Intern               Outros
3614                             Engenheiro de Software               Outros
4265              ASSISTENTE DE IMPORTAÇÃO E EXPORTAÇÃO               Outros
1919                                       Tech Manager               Outros