In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('../data/raw/jobs_data.csv')
df.head()

,job_id,work_model,keyword,scrape_date,job_title,company_name,location,time_posted,num_applicants,xp_level,job_type,job_sectors,job_description
0,4219203458,Presencial,Analista de Dados,19-05-2025 07:56:44,Analista de Dados e Serviço ao Cliente Junior,Cielo,"Barueri, SP",Há 2 semanas,144 candidaturas,Assistente,Tempo integral,Atividades de serviços financeiros,"Job Description\nSomos mais que uma máquina, s..."
1,4229491792,Presencial,Analista de Dados,19-05-2025 07:56:44,Analista de dados de negócios,SulAmérica,"São Paulo, SP",Há 2 dias,189 candidaturas,Pleno-sênior,Tempo integral,Seguros e previdência complementar e Serviços ...,A SulAmérica há mais de 125 anos se dedica a e...
2,4209520797,Presencial,Analista de Dados,19-05-2025 07:56:44,Analista de Dados Júnior,Banco Fibra,"São Paulo, SP",Há 1 mês,126 candidaturas,Não aplicável,Tempo integral,Bancos,Somos um Banco que trabalha na busca do melhor...
3,4201072662,Presencial,Analista de Dados,19-05-2025 07:56:44,"Analista de Dados - Júnior, Pleno e Sênior | R...",Capco,"São Paulo, SP",Há 23 horas,189 candidaturas,Pleno-sênior,Tempo integral,Atividades de serviços financeiros,SOBRE A CAPCO\nA Capco é uma consultoria globa...
4,4223039814,Presencial,Analista de Dados,19-05-2025 07:56:44,Analista de Dados & Analytics Pleno | Riscos e...,C6 Bank,"São Paulo, SP",Há 1 semana,63 candidaturas,Assistente,Tempo integral,Bancos,Nossa área de Processos & Controles\nA área de...

In [ ]:

from datetime import datetime, timedelta

def parse_posted_date(row):
    time_posted = row['time_posted']
    scrape_date = row['scrape_date']

    # Convert scrape_date to datetime if it is a string
    if isinstance(scrape_date, str):
        scrape_date = datetime.strptime(scrape_date, '%d-%m-%Y %H:%M:%S')

    if pd.isna(time_posted):
        return pd.NaT

    try:
        parts = time_posted.strip().split()
        if len(parts) < 3:
            return pd.NaT

        num = int(parts[1])
        unit = parts[2].lower()

        # Normalize unit
        if 'minuto' in unit:
            delta = timedelta(minutes=num)
        elif 'hora' in unit:
            delta = timedelta(hours=num)
        elif 'dia' in unit:
            delta = timedelta(days=num)
        elif 'semana' in unit:
            delta = timedelta(weeks=num)
        elif 'mes' in unit or 'mês' in unit:
            delta = timedelta(days=30 * num)
        elif 'ano' in unit:
            delta = timedelta(days=365 * num)
        else:
            return pd.NaT

        return scrape_date - delta
    except Exception:
        return pd.NaT

In [8]:
df.apply(parse_posted_date, axis=1)

0      2025-05-03 00:00:00
1      2025-05-16 01:00:00
2      2025-04-19 00:00:00
3      2025-04-26 00:00:00
4      2025-05-10 00:00:00
               ...
3568   2025-05-18 09:00:00
3569   2025-05-18 23:09:00
3570   2025-05-18 21:00:00
3571   2025-05-18 08:00:00
3572   2025-05-18 21:00:00
Length: 3573, dtype: datetime64[ns]

In [4]:
df['time_posted'].unique()

array(['Há 2 semanas', 'Há 23 horas', 'Há 4 semanas', 'Há 3 semanas',
       'Há 1 semana', 'Há 2 meses', 'Há 1 mês', 'Há 20 horas', 'Há 1 dia',
       'Há 10 meses', 'Há 4 dias', 'Há 8 meses', 'Há 3 dias', 'Há 2 dias',
       'Há 9 horas', 'Há 5 meses', 'Há 18 horas', 'Há 4 meses',
       'Há 7 meses', 'Há 13 horas', 'Há 14 horas', 'Há 3 meses',
       'Há 5 dias', 'Há 17 horas', 'Há 19 horas', 'Há 6 meses',
       'Há 8 horas', 'Há 9 meses', 'Há 12 horas', 'Há 4 horas',
       'Há 6 dias', 'Há 6 horas', 'Há 11 meses', 'Há 40 minutos',
       'Há 10 horas', 'Há 1 ano', 'Há 21 horas', 'Há 11 horas',
       'Há 22 horas', 'Há 5 horas', 'Há 16 horas', 'Há 12 meses',
       'Há 7 horas', 'Há 1 hora', 'Há 15 horas', 'Há 2 horas',
       'Há 3 horas', 'Há 33 minutos', 'Há 18 minutos', 'Há 51 minutos'],
      dtype=object)

In [3]:
df[df['scrape_date'] == '19-05-2025']

,job_id,work_model,keyword,scrape_date,job_title,company_name,location,time_posted,num_applicants,xp_level,job_type,job_sectors,job_description
3505,4232745883,Presencial,Analista de Dados,19-05-2025,Analista de Dados (Produtos Financeiros),Hotmart,"São Paulo, SP",Há 5 horas,NaN,Não aplicável,Tempo integral,"Tecnologia, Informação e Internet","AQUI VOCÊ IMPACTA DE VERDADE: SUA CARREIRA, AS..."
3506,4232769571,Presencial,Analista de Dados,19-05-2025,Analista de Dados Senior,Grupo Moas,"São Paulo, SP",Há 1 hora,62 candidaturas,Pleno-sênior,Tempo integral,Comércio varejista,Principais responsabilidades:\nModelar e organ...
3507,4230584168,Presencial,Analista de Dados,19-05-2025,ANALISTA DE DADOS E NEGÓCIO (FARMACÊUTICO) - V...,Portal de Empregos - BuscarVagas,"Brasília, DF",Há 3 horas,NaN,Assistente,Tempo integral,Fornecimento e gestão de recursos humanos,Área De Atuação\nOUTROS\nLocalização\nBrasília...
3508,4230573807,Presencial,Analista de Dados,19-05-2025,ANALISTA DE DADOS TI - VAGAS PROFISSIONAIS,Portal de Empregos - BuscarVagas,"Porto Alegre, RS",Há 3 horas,NaN,Assistente,Tempo integral,Fornecimento e gestão de recursos humanos,Área De Atuação\nTécnico em Informática\nLocal...
3509,4230520276,Presencial,Analista de Dados,19-05-2025,Analista de Banco de Dados,Licimed,Porto Alegre e Região,Há 3 semanas,NaN,Assistente,Tempo integral,"Tecnologia, Informação e Internet","A licimed, em expansão, contrata analista de d..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3568,4232470868,Remoto,Data Engineer,19-05-2025,Data Engineer - Databricks - Tech Lead,Lumenalta,"São Paulo, Brasil",Há 15 horas,NaN,Pleno-sênior,Tempo integral,Atividades dos serviços de tecnologia da infor...,Experience Remote done Right. With over 20 yea...
3569,4232776042,Presencial,Analista de BI,19-05-2025,Analista de BI (Business Intelligence),Grupo Moas,"São Paulo, SP",Há 51 minutos,52 candidaturas,Pleno-sênior,Tempo integral,Comércio varejista,"📌 O que você vai fazer por aqui:\nColetar, int..."
3570,4230575529,Presencial,Analista de BI,19-05-2025,ANALISTA DE BI – PORTO ALEGRE – RS - VAGAS PRO...,Portal de Empregos - BuscarVagas,"Porto Alegre, RS",Há 3 horas,NaN,Pleno-sênior,Tempo integral,Fornecimento e gestão de recursos humanos,Área De Atuação\nInformática / TI / Tecnologia...
3571,4232466488,Remoto,Machine Learning Engineer,19-05-2025,Senior machine learning engineer,Netvagas,Brasil,Há 16 horas,NaN,Pleno-sênior,Tempo integral,Fornecimento e gestão de recursos humanos,We are hiring someone who will help build Shap...
3572,4230583118,Presencial,AI Engineer,19-05-2025,AI ENGINEER - VAGAS PROFISSIONAIS,Portal de Empregos - BuscarVagas,"Porto Alegre, RS",Há 3 horas,NaN,Assistente,Tempo integral,Fornecimento e gestão de recursos humanos,Área De Atuação\nOutros\nLocalização\nPorto Al...

In [7]:
import pandas as pd
import matplotlib.pyplot as plt

# Load data
jobs = pd.read_csv('../data/processed/df_jobs_classified.csv')
skills = pd.read_csv('../data/processed/df_skills.csv')

In [8]:
jobs[jobs['city'] == 'Distrito Federal']

,job_id,work_model,keyword,scrape_date,job_title,company_name,num_applicants,xp_level,job_type,job_sectors,job_description,classified_job_title,post_date,city,state,country
348,4218289529,Híbrido,Analista de Dados,2025-05-17,Analista de Dados,Central IT - Tecnologia em Negócios,NaN,Não aplicável,Tempo integral,Atividades dos serviços de tecnologia da infor...,"A Central IT tem como propósito, “Inspirar Pes...",Analista de Dados,03-05-2025,Distrito Federal,DF,Brasil

In [9]:
df[df['location'].str.contains('Distrito Federal')]

,job_id,work_model,keyword,scrape_date,job_title,company_name,location,time_posted,num_applicants,xp_level,job_type,job_sectors,job_description
348,4218289529,Híbrido,Analista de Dados,17-05-2025,Analista de Dados,Central IT - Tecnologia em Negócios,"Distrito Federal, Brasil",Há 2 semanas,NaN,Não aplicável,Tempo integral,Atividades dos serviços de tecnologia da infor...,"A Central IT tem como propósito, “Inspirar Pes..."

In [10]:
df['location'].unique()

array(['Barueri, SP', 'São Paulo, SP', 'Maracanaú, CE', 'Brasília, DF',
       'Curitiba, PR', 'Guará, DF', 'Blumenau, SC', 'Campinas, SP',
       'Fortaleza, CE', 'Indaial, SC', 'São Paulo e Região',
       'Rio de Janeiro, RJ', 'Contagem, MG', 'Caxias do Sul, RS',
       'Mogi das Cruzes, SP', 'Uberlândia, MG', 'Porto Alegre, RS',
       'Cravinhos, SP', 'Pereiro, CE', 'Itajaí, SC', 'Betim, MG',
       'Macaé, RJ', 'Goiânia, GO', 'Palotina, PR', 'Campo Grande, MS',
       'Serra, ES', 'Tijucas, SC', 'Novo Hamburgo, RS', 'Osasco, SP',
       'Maringá, PR', 'Cachoeirinha, RS', 'Vitória, ES', 'Mossoró, RN',
       'Sorocaba, SP', 'Dois Irmãos, RS', 'Arcos, MG',
       'Jaraguá do Sul, SC', 'Joinville, SC', 'Capivari, SP',
       'Várzea Grande, MT', 'Rio de Janeiro e Região', 'Brasil',
       'Marília, SP', 'Aracaju, SE', 'Pato Branco, PR',
       'Vitória e Região', 'Franca, SP', 'Rio do Sul, SC', 'Sumaré, SP',
       'Ibirama, SC', 'Belo Horizonte e Região', 'Recife, PE',
       'Manaus, AM', 'Embu das Artes, SP', 'Eldorado do Sul, RS',
       'Viçosa, MG', 'São José do Rio Preto, SP', 'Belo Horizonte, MG',
       'Leopoldina, MG', 'Monte Belo, MG', 'Londrina, PR', 'Salvador, BA',
       'Morrinhos, GO', 'Vila Velha, ES', 'Ribeirão Preto, SP',
       'Cuiabá, MT', 'Porto Alegre e Região', 'Florianópolis, SC',
       'Belém, PA', 'Jundiaí, SP', 'Santo André, SP', 'Santa Rosa, RS',
       'Florianópolis e Região', 'Guarulhos, SP', 'Matão, SP',
       'Lucas do Rio Verde, MT', 'Ponta Grossa, PR', 'Carlos Barbosa, RS',
       'Teresina, PI', 'Naviraí, MS', 'Paulínia, SP', 'Tailândia, PA',
       'Paragominas, PA', 'Ampére, PR', 'Taguatinga, DF', 'Toledo, PR',
       'Igrejinha, RS', 'Garibaldi, RS', 'Santa Cruz do Sul, RS',
       'Rio Grande, RS', 'Nova Lima, MG', 'Nova Santa Rita, RS',
       'Piracicaba, SP', 'Santos, SP', 'Vespasiano, MG',
       'São Paulo, Brasil', 'Arujá, SP', 'Rio de Janeiro, Brasil',
       'Cascavel, PR', 'Lorena, SP', 'Indaiatuba, SP',
       'Distrito Federal, Brasil', 'Jacareí, SP', 'São João del-Rei, MG',
       'Cabo de Santo Agostinho, PE', 'São Bernardo do Campo, SP',
       'Ribeirão Grande, SP', 'Dourados, MS', 'Valinhos, SP',
       'Agudos, SP', 'Ituiutaba, MG', 'Alto Horizonte, GO',
       'São José dos Pinhais, PR', 'Pinhais, PR',
       'São José dos Campos, SP', 'Canoas, RS', 'Guarapuava, PR',
       'Barretos, SP', 'Campinas e Região', 'Curitiba e Região',
       'Goiânia e Região', 'Bebedouro, SP', 'Hortolândia, SP',
       'Recife e Região', 'Palhoça, SC', 'Limeira, SP', 'Nova Iguaçu, RJ',
       'Jaboatão dos Guararapes, PE', 'Natal, RN', 'São Luis, PA',
       'Jandira, SP', 'Eusébio, CE', 'Parauapebas, PA', 'Itapevi, SP',
       'São Luis, MA', 'Ji-Paraná, RO', 'Cambé, PR',
       'Poços de Caldas, MG', 'Belem, PA', 'Serra do Salitre, MG',
       'Chapecó, SC', 'Barão de Cocais, MG', 'Santa Maria do Pará, PA',
       'São Bento do Sul, SC', 'Manacapuru, AM', 'Barbacena, MG',
       'Lagoa da Prata, MG', 'Cajamar, SP', 'Gavião Peixoto, SP',
       'Colina, SP', 'Itaperuçu, PR', 'Rio Brilhante, MS',
       'Mato Dentro, MG', 'Jaguariúna, SP', 'Sertãozinho, SP',
       'Itabira, MG', 'Ouroeste, SP', 'Franco da Rocha, SP',
       'Olímpia, SP', 'Ibaté, SP', 'Canaã dos Carajás, PA', 'Araxá, MG',
       'Mariana, MG', 'Angra dos Reis, RJ', 'Itaberaí, GO',
       'Guaratinguetá, SP', 'Cataguases, MG', 'Ouro Branco, MG',
       'São Caetano do Sul, SP', 'Corumbá, MS', 'São João da Barra, RJ',
       'Sergipe, Brasil', 'Camaçari, BA', 'Rio Grande do Sul, Brasil',
       'Aparecida de Goiânia, GO', 'Cabreúva, SP', 'Cocalinho, MT',
       'Belém e Região', 'Barcarena, PA', 'Candeias, BA', 'Cruz Alta, RS',
       'Guadalupe, PI', 'São Francisco do Conde, BA', 'Ipojuca, PE',
       'Içara, SC', 'Navegantes, SC', 'Brasília e Região',
       'Várzea da Palma, MG', 'Balneário Camboriú, SC', 'Concórdia, SC',
       'Americana, SP', 'Varginha, MG', "Sant'Ana do Livramento, RS",
       'Niterói, RJ', 'Boa Vista, RR', 'Luís Eduardo Magalhães, BA',
       'Sorriso, MT', 'Montes Claros, MG', 'Itajubá, MG',
       'São Carlos, SP', 'Campina Grande, PB', 'Bagé, RS', 'Videira, SC',
       'Uruguaiana, RS', 'Tapejara, RS', 'Cunha, SP', 'Araguaína, TO',
       'Taubaté, SP', 'Curvelo, MG', 'São José, SC', 'São Luís, MA',
       'Juiz de Fora, MG', 'Salvador e Região', 'Uberaba, MG',
       'Guaíba, RS', 'Pedreira, SP', 'Vinhedo, SP', 'Santo Cristo, RS',
       'Engenheiro Beltrão, PR', 'Porto Feliz, SP', 'Suzano, SP',
       'Diadema, SP', 'Montenegro, RS', 'Cariacica, ES',
       "Santa Bárbara d'Oeste, SP", 'Cotia, SP', 'Linhares, ES',
       'Campos dos Goytacazes, RJ', 'Duque de Caxias, RJ', 'Resende, RJ',
       'Caruaru, PE', 'Olinda, PE', 'Campo Largo, PR', 'Marabá, PA',
       'Castanhal, PA', 'Santarém, PA', 'Cabedelo, PB',
       'Cachoeiro de Itapemirim, ES', 'João Pessoa, PB', 'Guarapari, ES',
       'Parnamirim, RN', 'Natal e Região', 'Petrolina, PE',
       'Feira de Santana, BA', 'Vitória da Conquista, BA',
       'Caratinga, MG', 'Brusque, SC', 'Guaramirim, SC', 'Criciúma, SC',
       'Timbó, SC', 'Lages, SC', 'Biguaçu, SC', 'Tubarão, SC',
       'Porto Belo, SC', 'Itapema, SC', 'Paranaguá, PR',
       'Campina Grande do Sul, PR', 'Colombo, PR',
       'Francisco Beltrão, PR', 'Fazenda Rio Grande, PR', 'Arapongas, PR',
       'Foz do Iguaçu, PR', 'Anápolis, GO', 'Rio Verde, GO',
       'Porto Velho, RO', 'Viana, ES', 'Araquari, SC', 'Arapiraca, AL',
       'Maceió, AL', 'Cabo Frio, RJ', 'Petrópolis, RJ', 'São Gonçalo, RJ',
       'Rio das Ostras, RJ', 'Volta Redonda, RJ', 'Juazeiro do Norte, CE',
       'Patos de Minas, MG', 'Lavras, MG', 'Divinópolis, MG',
       'Ribeirão das Neves, MG', 'Extrema, MG',
       'Governador Valadares, MG', 'Pouso Alegre, MG', 'Sete Lagoas, MG',
       'Ipatinga, MG', 'Quatro Barras, PR', 'Araucária, PR',
       'Itabirito, MG', 'Rio Branco, AC', 'Taboão da Serra, SP',
       'Bragança Paulista, SP', 'Guarujá, SP', 'Araras, SP',
       'Rio Claro, SP', 'Presidente Prudente, SP', 'Praia Grande, SP',
       'Louveira, SP', 'Mogi Guaçu, SP', 'Nova Odessa, SP',
       'Pindamonhangaba, SP', 'Atibaia, SP', 'Araraquara, SP', 'Itu, SP',
       'Caraguatatuba, SP', 'Ribeirão Pires, SP', 'Araçatuba, SP',
       'Caieiras, SP', 'Itapecerica da Serra, SP', 'Mauá, SP',
       'Campo Bom, RS', 'São Leopoldo, RS', 'Ijuí, RS', 'Gramado, RS',
       'Capão da Canoa, RS', 'Alvorada, RS', 'Esteio, RS', 'Pelotas, RS',
       'Bento Gonçalves, RS', 'Flores da Cunha, RS', 'Santa Maria, RS',
       'Estância Velha, RS', 'Sapucaia do Sul, RS', 'Três Lagoas, MS',
       'Itatiba, SP', 'Votorantim, SP', 'Santana de Parnaíba, SP',
       'Bauru, SP', 'Imperatriz, MA', 'Farroupilha, RS', 'Viamão, RS',
       'Conselheiro Lafaiete, MG', 'Lagoa Santa, MG',
       'Primavera do Leste, MT', 'Sinop, MT', 'Álvares Machado, SP',
       'Caucaia, CE', 'Rondonópolis, MT', 'Macapá, AP', 'Passo Fundo, RS',
       'Gaspar, SC', 'Campo Grande, SP', 'Duque de Caxias, BA',
       'Paraná, Brasil', 'Minas Gerais, Brasil', 'Camboriú, SC',
       'Ananindeua, PA', 'Sarzedo, MG', 'São José do Inhacorá, RS',
       'Fundão, ES'], dtype=object)

In [73]:
df.to_csv('jobs_classified.csv')

In [80]:
df = jobs[['job_title', 'classified_job_title']]
df[df['classified_job_title'] == 'Analista de Dados'].sample(10)

                                              job_title classified_job_title
157                                Analista de Dados PL    Analista de Dados
114                                   Analista de Dados    Analista de Dados
294                                   Analista de dados    Analista de Dados
2110                              Business/Data Analyst    Analista de Dados
325                               ANALISTA DE DADOS SR.    Analista de Dados
2056                                   SQL Data Analyst    Analista de Dados
368   Analista de Dados - Núcleo de Inovação e Melho...    Analista de Dados
117                                   Analista de Dados    Analista de Dados
6                                   Assistente de Dados    Analista de Dados
535   Analista de Dados e Controle - (Vaga Extensiva...    Analista de Dados

In [70]:
df[(df['classified_job_title'] == 'Engenheiro de IA') & (~df['job_title'].str.contains('[Ee]ngenheiro|ENGENHEIRO|[Ee]ngineer'))]

                                         job_title classified_job_title
455   Analista de dados e automação com IA - Pleno     Engenheiro de IA
3377              AI ENGINEER - RECRUTAMENTO ATIVO     Engenheiro de IA

In [432]:
output_df['classified_job_title'].value_counts()

classified_job_title
Analista de Dados                 655
Engenheiro de Dados               587
Cientista de Dados                523
Outros                            353
Engenheiro de Software            181
Analista de BI                     79
Engenheiro de IA                   38
Engenheiro de Machine Learning     30
Analytics Engineer                 25
Engenheiro de DevOps               19
Outros Dados                       13
Arquiteto de Dados                 12
Name: count, dtype: int64

In [435]:
output_df[~output_df['classified_job_title'].str.contains(
    'Engenheiro de Machine Learning|Analista de Dados|Engenheiro de Dados|Cientista de Dados|Analista de BI|Engenheiro de IA', na=False)].sample(10)

,job_title,classified_job_title
862,Engenheiro Civil - Auditor,Outros
737,ENGENHEIRO AGRIMENSOR - CANÃA DOS CARAJÁS/PARA...,Outros
753,Engenheiro(a) de Software Pl. Node - (Marketpl...,Engenheiro de Software
884,ENGENHEIRO DE SOFTWARE – PORTO ALEGRE – RS - P...,Engenheiro de Software
936,Engenheiro(a) Estrutural - Angra dos Reis - RJ,Outros
567,Engenheiro(a) de Computação - AM/BA/CE/RJ/RN/SE,Outros
843,Técnico de Planejamento (Civil / Manutenção),Outros
1652,Analytics Engineer Senior,Analytics Engineer
894,GERENTE DE PCP,Outros
1162,Engenheiro(a) de Software Sênior (Node.js/React),Engenheiro de Software

In [433]:
output_df.iloc[1468]

job_title               Gerente de Arquitetura
classified_job_title        Arquiteto de Dados
Name: 1468, dtype: object

In [407]:
cleaned_title = 'Computer Vision Engineer'
cleaned_title = cleaned_title.lower()
if ('cientista' in cleaned_title and 'dados' in cleaned_title) or 'data scientist' in cleaned_title or re.search(r'ci[êe]ncia de dados', cleaned_title):
      print('yes')
if 'ia' in cleaned_title or 'ml' in cleaned_title or 'artificial intelligence' in cleaned_title or 'machine learning' in cleaned_title or \
        'generativa' in cleaned_title or 'nlp' in cleaned_title or 'llm' in cleaned_title or 'computer' in cleaned_title:
            print('yes')

yes

In [404]:
classify_job_title('Computer Vision Engineer')

computer vision engineer

'Outros'

In [255]:
output_df[(output_df['job_title'].str.contains('[Aa]nalista')) & (~output_df['classified_job_title'].str.contains('Analista de Dados|Analista de BI'))]

                                              job_title classified_job_title
405   Analista de Data & Analytics (Engenheiro de da...   Analytics Engineer
2389  Analytics Engineer Sênior (Analista de Dados\n...   Analytics Engineer
2399       Analytics Engineer Sênior (Analista de Dados   Analytics Engineer

In [364]:
output_df[output_df['job_title'].str.contains('DataOps')]

                                      job_title classified_job_title
1184  Engenheiro de Plataforma DataOps - Sênior  Engenheiro de Dados

In [306]:
output_df[(output_df['classified_job_title'].str.contains('Arquiteto'))]

                                              job_title classified_job_title
723   Pesquisador em Arquitetura de Dados e Engenhar...   Arquiteto de Dados
1271       SM 609 ESPEC TI - ARQ DE DADOS - HIBRIDO v.b   Arquiteto de Dados
1673                              Arquiteto(a) de Dados   Arquiteto de Dados
1810                                  Sr Data Architect   Arquiteto de Dados
1844                                 Arquiteto de dados   Arquiteto de Dados
1868                                 Arquiteto de dados   Arquiteto de Dados
1869                    Arquiteto de Dados GCP (Sênior)   Arquiteto de Dados
1919         Arquiteto de dados / Arquiteto de Sistemas   Arquiteto de Dados
1925                      Arquiteto de dados gcp senior   Arquiteto de Dados
2511                        Solutions Architect - Azure   Arquiteto de Dados

In [103]:
df_skills = pd.read_csv('../data/processed/df_skills.csv')

In [ ]:
jobs['location'].value_counts()

location
São Paulo, SP                  True
Brasil                         True
São Paulo e Região             True
Rio de Janeiro e Região        True
Curitiba, PR                   True
                              ...
Várzea da Palma, MG           False
Içara, SC                     False
Carlos Barbosa, RS            False
São Francisco do Conde, BA    False
São José do Inhacorá, RS      False
Name: count, Length: 347, dtype: bool

In [85]:
GROUPED_SKILL_MAP = {
    'Solução de problemas': ['solução de problemas', 'problem solving'],
    'Pensamento crítico': ['critical thinking', 'pensamento crítico'],
    'Inteligência Artificial': ['ia', 'inteligência artificial', 
                                'artificial intelligence', 'ai'],
    'Machine Learning': ['machine learning', 'aprendizado de máquina'],
    'Cloud': ['cloud', 'nuvem', 'computação em nuvem', 'cloud computing', 'gcp',
              'azure'],
    'NLP' : ['natural language processing', 'processamento de linguagem natural',
             'pln', 'nlp'],
    'Visão computacional': ['visão computacional', 'computer vision'],
    'Feature engineering': ['feature engineering'],
    'Visualização de dados': ['data visualization', 'tableau', 'power bi', 
                              'visualização de dados'],
    'Programação': ['programação'],
    'GCP': ['gcp'],
    'Excel': ['excel'],
    'Tableau': ['tableau'],
    'Adaptabildiade': ['adaptabilidade'],
    'Azure': ['azure'],
    'Estatística': ['estatística', 'statistics'],
    'R': ['r'],
    'Trabalho em equipe': ['trabalho em equipe'],
    'Limpeza de dados': ['limpeza de dados', 'data cleaning'],
    'Arquitetura de dados': ['arquitetura de dados', 'data architecture'],
    'Séries temporais': ['séries temporais', 'time series'],
    'BI': ['business intelligence', 'inteligência de negócios', 'bi'],
    'Python': ['python'],
    'Teste A/B': ['a/b'],
    'ETL': ['etl'],
    'Aprendizado por reforço': ['reinforcement learning'],
    'PostgreSQL': ['postgresql'],
    'Redes neurais': ['redes neurais'],
    'NoSQL': ['nosql'],
    'Airflow': ['airflow'],
    'Comunicação': ['comunicação'],
    'Tensorflow': ['tensorflow'],
    'Data Warehouse': ['data warehouse'],
    'Kubernetes': ['kubernetes'],
    'Pipeline': ['pipeline', 'data pipeline'],
    'Governança de dados': ['governança de dados', 'data governance'],
    'Hadoop': ['hadoop'],
    'Manipulação de dados': ['data wrangling', 'manipulação de dados'],
    'Qualidade dos dados': ['data quality', 'qualidade dos dados'],
    'PyTorch': ['pytorch'],
    'MySQL': ['mysql'],
    'Análise de negócios': ['business analytics', 'análise de negócios'],
    'Deep Learning': ['deep learning', 'aprendizado profundo'],
    'Big Data': ['big data'],
    'Data storytelling': ['storytelling'],
    'Mineração de dados': ['mineração de dados', 'data mining'],
    'Tensorflow': ['tensorflow'],
    'SQL': ['sql'],
    'Power BI': ['power bi'],
    'Spark': ['spark', 'pyspark'],
    'API': ['api'],
    'Scikit-learn': ['scikit-learn'],
    'Pandas': ['pandas'],
    'Docker': ['docker'],
    'AWS': ['aws'],
    'MATLAB': ['matlab'],
    'SQL Server': ['sql server'],
    'NumPy': ['numpy']
    }

In [87]:
from collections import defaultdict
import unicodedata
 
def normalize_text(text):
    return ''.join(
        c for c in unicodedata.normalize('NFD', text)
        if unicodedata.category(c) != 'Mn'
    ).lower().strip()

# SKILLS_LIST e MAP gerados dinamicamente
SKILLS_LIST = [skill for sublist in GROUPED_SKILL_MAP.values() for skill in sublist]

In [89]:
standard_skill_map = GROUPED_SKILL_MAP

In [91]:
mapping = GROUPED_SKILL_MAP
mapping.items()

multi_standard_skill_map = defaultdict(set)
if standard_skill_map:
    for canonical, variants in mapping.items():
        for variant in variants:
            normalized = normalize_text(variant)
            multi_standard_skill_map[normalized].add(canonical)

In [93]:
def standardize_skills(skills):
    standardized = set()
    for skill in skills:
        matches = multi_standard_skill_map.get(skill, {skill})
        standardized.update(matches)
    return list(standardized)

standardize_skills(['programação'])

['programação']

In [104]:
def normalize_text(text):
    return ''.join(
        c for c in unicodedata.normalize('NFD', text)
        if unicodedata.category(c) != 'Mn'
    ).lower().strip()

In [140]:
df_skills = pd.read_csv('../data/processed/df_skills.csv')
normalized_to_canonical = {}
for variants, canonicals in multi_standard_skill_map.items():
    for canonical in canonicals:
        normalized_to_canonical[variants] = canonical

df_skills["skill"] = df_skills["skill"].apply(normalize_text)
df_skills["skill"] = df_skills["skill"].map(lambda x: normalized_to_canonical.get(x, x))

In [141]:
normalized_to_canonical.get('azure', 'não')

'Cloud'

In [137]:
df_skills

        job_id       skill
0   4207529696       azure
1   4207529696         aws
2   4207529696      python
3   4207529696         etl
4   4207529696     airflow
..         ...         ...
72  4203492259  kubernetes
73  4203492259          ai
74  4203492259      python
75  4203492259         sql
76  4203492259       azure

[77 rows x 2 columns]

In [98]:
df_skills['skill'].unique()

array(['predictive', 'problem solving', 'critical thinking', 'sql',
       'data analysis', 'bi', 'python', 'statistics', 'tableau', 'ai',
       'business intelligence', 'spark', 'nosql', 'big data', 'etl',
       'cloud', 'pipelines', 'sql server', 'aws', 'azure',
       'data architecture', 'r', 'data visualization', 'power bi', 'ia',
       'qualidade dos dados', 'colaboração', 'inteligência artificial',
       'ciência de dados', 'análise de dados', 'visualização de dados',
       'data science', 'programação', 'limpeza de dados',
       'adaptabilidade', 'airflow', 'gcp', 'nuvem', 'computação em nuvem',
       'excel', 'machine learning', 'pandas', 'data storytelling',
       'estatística', 'data warehouse', 'numpy',
       'artificial intelligence', 'data cleaning', 'governança de dados',
       'aprendizado de máquina', 'data pipeline', 'data engineering',
       'data mining', 'mysql', 'postgresql', 'preditiva', 'data quality',
       'inteligência de negócios', 'data governance', 'data wrangling',
       'api', 'arquitetura de dados', 'testes a/b', 'pensamento crítico',
       'cloud computing', 'scikit-learn', 'a/b testing',
       'engenharia de dados', 'trabalho em equipe', 'análise de negócios',
       'business analytics', 'hadoop', 'solução de problemas',
       'séries temporais', 'redes neurais', 'nlp', 'tensorflow',
       'kubernetes', 'processamento de linguagem natural', 'pytorch',
       'docker', 'deep learning', 'visão computacional',
       'aprendizado por reforço', 'pln', 'natural language processing',
       'feature engineering', 'mineração de dados', 'matlab',
       'computer vision', 'comunicação eficaz', 'reinforcement learning',
       'time series', 'stata'], dtype=object)