In [1]:
import pandas as pd

In [31]:
df = pd.read_csv('../data/raw/jobs_data.csv')
df.head()

,job_id,work_model,keyword,scrape_date,job_title,company_name,location,time_posted,num_applicants,xp_level,job_type,job_sectors,job_description
0,4219203458,Presencial,Analista de Dados,19-05-2025 07:56:44,Analista de Dados e Servi√ßo ao Cliente Junior,Cielo,"Barueri, SP",H√° 2 semanas,144 candidaturas,Assistente,Tempo integral,Atividades de servi√ßos financeiros,"Job Description\nSomos mais que uma m√°quina, s..."
1,4229491792,Presencial,Analista de Dados,19-05-2025 07:56:44,Analista de dados de neg√≥cios,SulAm√©rica,"S√£o Paulo, SP",H√° 2 dias,189 candidaturas,Pleno-s√™nior,Tempo integral,Seguros e previd√™ncia complementar e Servi√ßos ...,A SulAm√©rica h√° mais de 125 anos se dedica a e...
2,4209520797,Presencial,Analista de Dados,19-05-2025 07:56:44,Analista de Dados J√∫nior,Banco Fibra,"S√£o Paulo, SP",H√° 1 m√™s,126 candidaturas,N√£o aplic√°vel,Tempo integral,Bancos,Somos um Banco que trabalha na busca do melhor...
3,4201072662,Presencial,Analista de Dados,19-05-2025 07:56:44,"Analista de Dados - J√∫nior, Pleno e S√™nior | R...",Capco,"S√£o Paulo, SP",H√° 23 horas,189 candidaturas,Pleno-s√™nior,Tempo integral,Atividades de servi√ßos financeiros,SOBRE A CAPCO\nA Capco √© uma consultoria globa...
4,4223039814,Presencial,Analista de Dados,19-05-2025 07:56:44,Analista de Dados & Analytics Pleno | Riscos e...,C6 Bank,"S√£o Paulo, SP",H√° 1 semana,63 candidaturas,Assistente,Tempo integral,Bancos,Nossa √°rea de Processos & Controles\nA √°rea de...

In [3]:
df[df['scrape_date'] == '19-05-2025']

,job_id,work_model,keyword,scrape_date,job_title,company_name,location,time_posted,num_applicants,xp_level,job_type,job_sectors,job_description
3505,4232745883,Presencial,Analista de Dados,19-05-2025,Analista de Dados (Produtos Financeiros),Hotmart,"S√£o Paulo, SP",H√° 5 horas,NaN,N√£o aplic√°vel,Tempo integral,"Tecnologia, Informa√ß√£o e Internet","AQUI VOC√ä IMPACTA DE VERDADE: SUA CARREIRA, AS..."
3506,4232769571,Presencial,Analista de Dados,19-05-2025,Analista de Dados Senior,Grupo Moas,"S√£o Paulo, SP",H√° 1 hora,62 candidaturas,Pleno-s√™nior,Tempo integral,Com√©rcio varejista,Principais responsabilidades:\nModelar e organ...
3507,4230584168,Presencial,Analista de Dados,19-05-2025,ANALISTA DE DADOS E NEG√ìCIO (FARMAC√äUTICO) - V...,Portal de Empregos - BuscarVagas,"Bras√≠lia, DF",H√° 3 horas,NaN,Assistente,Tempo integral,Fornecimento e gest√£o de recursos humanos,√Årea De Atua√ß√£o\nOUTROS\nLocaliza√ß√£o\nBras√≠lia...
3508,4230573807,Presencial,Analista de Dados,19-05-2025,ANALISTA DE DADOS TI - VAGAS PROFISSIONAIS,Portal de Empregos - BuscarVagas,"Porto Alegre, RS",H√° 3 horas,NaN,Assistente,Tempo integral,Fornecimento e gest√£o de recursos humanos,√Årea De Atua√ß√£o\nT√©cnico em Inform√°tica\nLocal...
3509,4230520276,Presencial,Analista de Dados,19-05-2025,Analista de Banco de Dados,Licimed,Porto Alegre e Regi√£o,H√° 3 semanas,NaN,Assistente,Tempo integral,"Tecnologia, Informa√ß√£o e Internet","A licimed, em expans√£o, contrata analista de d..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3568,4232470868,Remoto,Data Engineer,19-05-2025,Data Engineer - Databricks - Tech Lead,Lumenalta,"S√£o Paulo, Brasil",H√° 15 horas,NaN,Pleno-s√™nior,Tempo integral,Atividades dos servi√ßos de tecnologia da infor...,Experience Remote done Right. With over 20 yea...
3569,4232776042,Presencial,Analista de BI,19-05-2025,Analista de BI (Business Intelligence),Grupo Moas,"S√£o Paulo, SP",H√° 51 minutos,52 candidaturas,Pleno-s√™nior,Tempo integral,Com√©rcio varejista,"üìå O que voc√™ vai fazer por aqui:\nColetar, int..."
3570,4230575529,Presencial,Analista de BI,19-05-2025,ANALISTA DE BI ‚Äì PORTO ALEGRE ‚Äì RS - VAGAS PRO...,Portal de Empregos - BuscarVagas,"Porto Alegre, RS",H√° 3 horas,NaN,Pleno-s√™nior,Tempo integral,Fornecimento e gest√£o de recursos humanos,√Årea De Atua√ß√£o\nInform√°tica / TI / Tecnologia...
3571,4232466488,Remoto,Machine Learning Engineer,19-05-2025,Senior machine learning engineer,Netvagas,Brasil,H√° 16 horas,NaN,Pleno-s√™nior,Tempo integral,Fornecimento e gest√£o de recursos humanos,We are hiring someone who will help build Shap...
3572,4230583118,Presencial,AI Engineer,19-05-2025,AI ENGINEER - VAGAS PROFISSIONAIS,Portal de Empregos - BuscarVagas,"Porto Alegre, RS",H√° 3 horas,NaN,Assistente,Tempo integral,Fornecimento e gest√£o de recursos humanos,√Årea De Atua√ß√£o\nOutros\nLocaliza√ß√£o\nPorto Al...

In [13]:
df[df['job_id']==4194907900]

,job_id,work_model,keyword,scrape_date,job_title,company_name,location,time_posted,num_applicants,xp_level,job_type,job_sectors,job_description
552,4194907900,Presencial,Cientista de Dados,19-05-2025 07:56:44,Especialista P&D Sr - Cientista de Dados,Samsung Brasil,Campinas e Regi√£o,H√° 1 semana,NaN,Pleno-s√™nior,Tempo integral,"Fabrica√ß√£o de equipamentos de inform√°tica, pro...",Position Summary\nSOBRE A SAMSUNG E O SRBR\n√â ...

In [7]:
jobs[jobs['city'] == "Brasil"]

,job_id,work_model,keyword,scrape_date,job_title,company_name,num_applicants,xp_level,job_type,job_sectors,job_description,classified_job_title,post_date,city,state,country
55,4227938279,Presencial,Analista de Dados,2025-05-19 07:56:44,ANALISTA DE DADOS,Grupo Angelus,NaN,Assistente,Tempo integral,Servi√ßos de assist√™ncia social sem alojamento,Para se candidatar a esta vaga clique aqui e c...,Analista de Dados,14-05-2025 07:56:44,Brasil,NaN,Brasil
470,4212094185,Remoto,Analista de Dados,2025-05-19 07:56:44,Analista Dados Junior\nTrabalho Remoto\nEfetivo,KMM by nstech,NaN,Assistente,Tempo integral,Atividades dos servi√ßos de tecnologia da infor...,Descri√ß√£o da vaga\nMais do que simples fornece...,Analista de Dados,28-04-2025 07:56:44,Brasil,NaN,Brasil
471,4225766779,Remoto,Analista de Dados,2025-05-19 07:56:44,Analista de Dados Pleno,iFood,200.0,Assistente,Tempo integral,Desenvolvimento de software,Nosso Modo de Fazer no Time:\nTransforme sua c...,Analista de Dados,12-05-2025 07:56:44,Brasil,NaN,Brasil
472,4216536165,Remoto,Analista de Dados,2025-05-19 07:56:44,Analista de dados,Target Software - Solu√ß√µes em Tecnologia,NaN,Pleno-s√™nior,Tempo integral,Atividades dos servi√ßos de tecnologia da infor...,Analista de Dados Pleno\nConhe√ßa a\nnova\nopor...,Analista de Dados,28-04-2025 07:56:44,Brasil,NaN,Brasil
473,4223825889,Remoto,Analista de Dados,2025-05-19 07:56:44,Pessoa Analista de Dados,NTT DATA Europe & Latam,NaN,Pleno-s√™nior,Tempo integral,Atividades dos servi√ßos de tecnologia da infor...,"A\nNTT DATA\n, √© uma consultoria multinacional...",Analista de Dados,12-05-2025 07:56:44,Brasil,NaN,Brasil
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3302,4202013321,Remoto,AI Engineer,2025-05-19 07:56:44,Lead AI Engineer,Sierra Studio,NaN,Pleno-s√™nior,Tempo integral,Atividades dos servi√ßos de tecnologia da infor...,Lead AI Engineer\nüèîÔ∏è About Sierra Studio\nSier...,Engenheiro de IA,19-04-2025 07:56:44,Brasil,NaN,Brasil
3303,4220737413,Remoto,AI Engineer,2025-05-19 07:56:44,Staff AI Engineer,Quorum,NaN,Pleno-s√™nior,Tempo integral,Desenvolvimento de software,Quorum is building the future of AI-powered pu...,Engenheiro de IA,05-05-2025 07:56:44,Brasil,NaN,Brasil
3306,4230042471,Remoto,AI Engineer,2025-05-19 07:56:44,AI Engineer S√™nior,Woba,33.0,Pleno-s√™nior,Tempo integral,"Tecnologia, Informa√ß√£o e Internet e Atividades...",Sobre a Woba:\nA Woba √© a maior rede de escrit...,Engenheiro de IA,15-05-2025 07:56:44,Brasil,NaN,Brasil
3307,4232068452,Remoto,AI Engineer,2025-05-19 07:56:44,Ai engineer senior,Netvagas,NaN,Pleno-s√™nior,Tempo integral,Fornecimento e gest√£o de recursos humanos,Sobre a Woba\nA Woba √© a maior rede de escrit√≥...,Engenheiro de IA,17-05-2025 07:56:44,Brasil,NaN,Brasil
3316,4230936600,Remoto,AI Engineer,2025-05-19 07:56:44,Sr ai engineer,Netvagas,NaN,Pleno-s√™nior,Tempo integral,Fornecimento e gest√£o de recursos humanos,Voc√™ ir√° atuar time de Funds & Securitization ...,Engenheiro de IA,16-05-2025 07:56:44,Brasil,NaN,Brasil

In [6]:
jobs.city.value_counts()

city
S√£o Paulo               894
Brasil                  579
Rio De Janeiro          161
Belo Horizonte           91
Curitiba                 85
                       ...
Mariana                   1
Ol√≠mpia                   1
Ibat√©                     1
Ouroeste                  1
S√£o Jos√© Do Inhacor√°      1
Name: count, Length: 318, dtype: int64

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Load data
jobs = pd.read_csv('../data/processed/df_jobs_classified.csv')
skills = pd.read_csv('../data/processed/df_skills.csv')

In [23]:
jobs

,job_id,work_model,keyword,scrape_date,job_title,company_name,num_applicants,xp_level,job_type,job_sectors,job_description,classified_job_title,post_date,city,state,country
0,4219203458,Presencial,Analista de Dados,2025-05-19 07:56:44,Analista de Dados e Servi√ßo ao Cliente Junior,Cielo,144.0,Assistente,Tempo integral,Atividades de servi√ßos financeiros,"Job Description\nSomos mais que uma m√°quina, s...",Analista de Dados,05-05-2025 07:56:44,Barueri,SP,Brasil
1,4229491792,Presencial,Analista de Dados,2025-05-19 07:56:44,Analista de dados de neg√≥cios,SulAm√©rica,189.0,Pleno-s√™nior,Tempo integral,Seguros e previd√™ncia complementar e Servi√ßos ...,A SulAm√©rica h√° mais de 125 anos se dedica a e...,Analista de Dados,17-05-2025 07:56:44,S√£o Paulo,SP,Brasil
2,4209520797,Presencial,Analista de Dados,2025-05-19 07:56:44,Analista de Dados J√∫nior,Banco Fibra,126.0,N√£o aplic√°vel,Tempo integral,Bancos,Somos um Banco que trabalha na busca do melhor...,Analista de Dados,19-04-2025 07:56:44,S√£o Paulo,SP,Brasil
3,4201072662,Presencial,Analista de Dados,2025-05-19 07:56:44,"Analista de Dados - J√∫nior, Pleno e S√™nior | R...",Capco,189.0,Pleno-s√™nior,Tempo integral,Atividades de servi√ßos financeiros,SOBRE A CAPCO\nA Capco √© uma consultoria globa...,Analista de Dados,18-05-2025 08:56:44,S√£o Paulo,SP,Brasil
4,4223039814,Presencial,Analista de Dados,2025-05-19 07:56:44,Analista de Dados & Analytics Pleno | Riscos e...,C6 Bank,63.0,Assistente,Tempo integral,Bancos,Nossa √°rea de Processos & Controles\nA √°rea de...,Analista de Dados,12-05-2025 07:56:44,S√£o Paulo,SP,Brasil
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,4235573339,Remoto,AI Engineer,2025-05-23 18:04:21,AI Engineer (Senior) ID34931,AgileEngine,NaN,Pleno-s√™nior,Tempo integral,Atividades dos servi√ßos de tecnologia da infor...,AgileEngine is one of the Inc. 5000 fastest-gr...,Engenheiro de IA,22-05-2025 20:04:21,S√£o Bernardo Do Campo,SP,Brasil
4492,4235925700,Remoto,AI Engineer,2025-05-23 18:04:21,Ai engineer senior,Netvagas,NaN,Pleno-s√™nior,Tempo integral,Fornecimento e gest√£o de recursos humanos,Sobre a Woba\nA Woba √© a maior rede de escrit√≥...,Engenheiro de IA,23-05-2025 08:04:21,NaN,NaN,Brasil
4493,4231607133,Remoto,AI Engineer,2025-05-23 18:04:21,"Senior AI Engineer, IgniteTech (Remote) - $200...",Trilogy,NaN,Diretor,Tempo integral,"Fabrica√ß√£o de ve√≠culos automotores, reboques e...",Step into a world where marketing and communit...,Engenheiro de IA,23-05-2025 03:04:21,NaN,NaN,Brasil
4494,4231604315,Remoto,AI Engineer,2025-05-23 18:04:21,"Senior AI Engineer, IgniteTech (Remote) - $200...",Trilogy,NaN,Diretor,Tempo integral,"Fabrica√ß√£o de ve√≠culos automotores, reboques e...",Step into a world where marketing and communit...,Engenheiro de IA,23-05-2025 05:04:21,S√£o Paulo,SP,Brasil
4495,4231603424,Remoto,AI Engineer,2025-05-23 18:04:21,"Senior AI Engineer, IgniteTech (Remote) - $200...",Trilogy,NaN,Diretor,Tempo integral,"Fabrica√ß√£o de ve√≠culos automotores, reboques e...",Step into a world where marketing and communit...,Engenheiro de IA,23-05-2025 03:04:21,Campinas,SP,Brasil

In [ ]:
df[~df.duplicated(subset=['work_model', 'job_title',
       'company_name', 'location', 'xp_level', 'job_type', 'job_sectors',
       'job_description'])]

,job_id,work_model,keyword,scrape_date,job_title,company_name,location,time_posted,num_applicants,xp_level,job_type,job_sectors,job_description
0,4219203458,Presencial,Analista de Dados,19-05-2025 07:56:44,Analista de Dados e Servi√ßo ao Cliente Junior,Cielo,"Barueri, SP",H√° 2 semanas,144 candidaturas,Assistente,Tempo integral,Atividades de servi√ßos financeiros,"Job Description\nSomos mais que uma m√°quina, s..."
1,4229491792,Presencial,Analista de Dados,19-05-2025 07:56:44,Analista de dados de neg√≥cios,SulAm√©rica,"S√£o Paulo, SP",H√° 2 dias,189 candidaturas,Pleno-s√™nior,Tempo integral,Seguros e previd√™ncia complementar e Servi√ßos ...,A SulAm√©rica h√° mais de 125 anos se dedica a e...
2,4209520797,Presencial,Analista de Dados,19-05-2025 07:56:44,Analista de Dados J√∫nior,Banco Fibra,"S√£o Paulo, SP",H√° 1 m√™s,126 candidaturas,N√£o aplic√°vel,Tempo integral,Bancos,Somos um Banco que trabalha na busca do melhor...
3,4201072662,Presencial,Analista de Dados,19-05-2025 07:56:44,"Analista de Dados - J√∫nior, Pleno e S√™nior | R...",Capco,"S√£o Paulo, SP",H√° 23 horas,189 candidaturas,Pleno-s√™nior,Tempo integral,Atividades de servi√ßos financeiros,SOBRE A CAPCO\nA Capco √© uma consultoria globa...
4,4223039814,Presencial,Analista de Dados,19-05-2025 07:56:44,Analista de Dados & Analytics Pleno | Riscos e...,C6 Bank,"S√£o Paulo, SP",H√° 1 semana,63 candidaturas,Assistente,Tempo integral,Bancos,Nossa √°rea de Processos & Controles\nA √°rea de...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4490,4233962816,Remoto,AI Engineer,23-05-2025 18:04:21,AI Engineer - Work from home,Nearsure,Rio de Janeiro e Regi√£o,H√° 3 horas,NaN,Pleno-s√™nior,Tempo integral,Desenvolvimento de software,Explore the Nearsure experience!\nüåê\nJoin our ...
4491,4235573339,Remoto,AI Engineer,23-05-2025 18:04:21,AI Engineer (Senior) ID34931,AgileEngine,"S√£o Bernardo do Campo, SP",H√° 22 horas,NaN,Pleno-s√™nior,Tempo integral,Atividades dos servi√ßos de tecnologia da infor...,AgileEngine is one of the Inc. 5000 fastest-gr...
4493,4231607133,Remoto,AI Engineer,23-05-2025 18:04:21,"Senior AI Engineer, IgniteTech (Remote) - $200...",Trilogy,Brasil,H√° 15 horas,NaN,Diretor,Tempo integral,"Fabrica√ß√£o de ve√≠culos automotores, reboques e...",Step into a world where marketing and communit...
4494,4231604315,Remoto,AI Engineer,23-05-2025 18:04:21,"Senior AI Engineer, IgniteTech (Remote) - $200...",Trilogy,"S√£o Paulo, SP",H√° 13 horas,NaN,Diretor,Tempo integral,"Fabrica√ß√£o de ve√≠culos automotores, reboques e...",Step into a world where marketing and communit...
4495,4231603424,Remoto,AI Engineer,23-05-2025 18:04:21,"Senior AI Engineer, IgniteTech (Remote) - $200...",Trilogy,"Campinas, SP",H√° 15 horas,NaN,Diretor,Tempo integral,"Fabrica√ß√£o de ve√≠culos automotores, reboques e...",Step into a world where marketing and communit...

In [ ]:
df[df.duplicated(subset=['work_model', 'job_title',
       'company_name', 'location', 'xp_level', 'job_type', 'job_sectors',
       'job_description'], keep=False)].sort_values(by='job_title')

,job_id,work_model,keyword,scrape_date,job_title,company_name,location,time_posted,num_applicants,xp_level,job_type,job_sectors,job_description
3290,4226654872,Remoto,AI Engineer,19-05-2025 07:56:44,AI Engineer,Vobi (YC W22),"S√£o Paulo, SP",H√° 1 semana,NaN,Assistente,Tempo integral,Desenvolvimento de software,Este √© um cargo remoto.\nA oportunidade\nA ind...
3711,4233172505,Remoto,AI Engineer,20-05-2025 18:16:23,AI Engineer,Vobi (YC W22),"S√£o Paulo, SP",H√° 22 horas,NaN,Assistente,Tempo integral,Desenvolvimento de software,Este √© um cargo remoto.\nA oportunidade\nA ind...
451,3965844269,H√≠brido,Analista de Dados,19-05-2025 07:56:44,ANALISTA DE DADOS PLENO - H√çBRIDO,Rh Grandes Talentos Consultoria de Recrutament...,"Ribeir√£o Grande, SP",H√° 10 meses,NaN,Pleno-s√™nior,Tempo integral,Atividades de consultoria em gest√£o empresarial,Atribui√ß√µes e Responsabilidades\nIdentificar f...
452,3623295643,H√≠brido,Analista de Dados,19-05-2025 07:56:44,ANALISTA DE DADOS PLENO - H√çBRIDO,Rh Grandes Talentos Consultoria de Recrutament...,"Ribeir√£o Grande, SP",H√° 1 ano,NaN,Pleno-s√™nior,Tempo integral,Atividades de consultoria em gest√£o empresarial,Atribui√ß√µes e Responsabilidades\nIdentificar f...
3307,4232068452,Remoto,AI Engineer,19-05-2025 07:56:44,Ai engineer senior,Netvagas,Brasil,H√° 2 dias,NaN,Pleno-s√™nior,Tempo integral,Fornecimento e gest√£o de recursos humanos,Sobre a Woba\nA Woba √© a maior rede de escrit√≥...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2069,4229311520,Remoto,Data Analyst,19-05-2025 07:56:44,Talent Data Analyst - Remote,INDI Staffing Services,"Recife, PE",H√° 5 dias,101 candidaturas,Pleno-s√™nior,Tempo integral,Recrutamento e sele√ß√£o de pessoal,Recognized as the leading software development...
3917,4234701948,Remoto,Data Analyst,21-05-2025 18:54:00,Talent Data Analyst - Remote,INDI Staffing Services,"Salvador, BA",H√° 2 horas,NaN,Pleno-s√™nior,Tempo integral,Recrutamento e sele√ß√£o de pessoal,Recognized as the leading software development...
3918,4234700926,Remoto,Data Analyst,21-05-2025 18:54:00,Talent Data Analyst - Remote,INDI Staffing Services,"Recife, PE",H√° 2 horas,NaN,Pleno-s√™nior,Tempo integral,Recrutamento e sele√ß√£o de pessoal,Recognized as the leading software development...
4070,4233082467,Presencial,Cientista de Dados,22-05-2025 18:06:21,Tech Manager,Antler,"S√£o Paulo, Brasil",H√° 2 horas,NaN,Pleno-s√™nior,Tempo integral,"Capital de risco e participa√ß√µes privadas, Des...","Esta n√£o √© uma vaga de emprego convencional\n,..."
543,4226235762,Presencial,Cientista de Dados,19-05-2025 07:56:44,Tech Manager,Antler,"S√£o Paulo, Brasil",H√° 6 dias,NaN,Pleno-s√™nior,Tempo integral,"Capital de risco e participa√ß√µes privadas, Des...","Esta n√£o √© uma vaga de emprego convencional\n,..."

In [21]:
jobs[~jobs.duplicated(subset=['work_model', 'job_title',
       'company_name', 'xp_level', 'job_type', 'job_sectors',
       'job_description'], keep=False)]['classified_job_title'].value_counts()

classified_job_title
Outros                    759
Engenheiro de Dados       719
Analista de Dados         680
Cientista de Dados        420
Analista de BI            277
Engenheiro de Software    195
Outros Dados               73
Engenheiro de ML           70
Engenheiro de IA           57
Engenheiro de DevOps       24
Analytics Engineer         10
Arquiteto de Dados          9
Name: count, dtype: int64

In [4]:
jobs.columns

Index(['job_id', 'work_model', 'keyword', 'scrape_date', 'job_title',
       'company_name', 'num_applicants', 'xp_level', 'job_type', 'job_sectors',
       'job_description', 'classified_job_title', 'post_date', 'city', 'state',
       'country'],
      dtype='object')

In [8]:
jobs[jobs['city'] == 'Distrito Federal']

,job_id,work_model,keyword,scrape_date,job_title,company_name,num_applicants,xp_level,job_type,job_sectors,job_description,classified_job_title,post_date,city,state,country
348,4218289529,H√≠brido,Analista de Dados,2025-05-17,Analista de Dados,Central IT - Tecnologia em Neg√≥cios,NaN,N√£o aplic√°vel,Tempo integral,Atividades dos servi√ßos de tecnologia da infor...,"A Central IT tem como prop√≥sito, ‚ÄúInspirar Pes...",Analista de Dados,03-05-2025,Distrito Federal,DF,Brasil

In [9]:
df[df['location'].str.contains('Distrito Federal')]

,job_id,work_model,keyword,scrape_date,job_title,company_name,location,time_posted,num_applicants,xp_level,job_type,job_sectors,job_description
348,4218289529,H√≠brido,Analista de Dados,17-05-2025,Analista de Dados,Central IT - Tecnologia em Neg√≥cios,"Distrito Federal, Brasil",H√° 2 semanas,NaN,N√£o aplic√°vel,Tempo integral,Atividades dos servi√ßos de tecnologia da infor...,"A Central IT tem como prop√≥sito, ‚ÄúInspirar Pes..."

In [10]:
df['location'].unique()

array(['Barueri, SP', 'S√£o Paulo, SP', 'Maracana√∫, CE', 'Bras√≠lia, DF',
       'Curitiba, PR', 'Guar√°, DF', 'Blumenau, SC', 'Campinas, SP',
       'Fortaleza, CE', 'Indaial, SC', 'S√£o Paulo e Regi√£o',
       'Rio de Janeiro, RJ', 'Contagem, MG', 'Caxias do Sul, RS',
       'Mogi das Cruzes, SP', 'Uberl√¢ndia, MG', 'Porto Alegre, RS',
       'Cravinhos, SP', 'Pereiro, CE', 'Itaja√≠, SC', 'Betim, MG',
       'Maca√©, RJ', 'Goi√¢nia, GO', 'Palotina, PR', 'Campo Grande, MS',
       'Serra, ES', 'Tijucas, SC', 'Novo Hamburgo, RS', 'Osasco, SP',
       'Maring√°, PR', 'Cachoeirinha, RS', 'Vit√≥ria, ES', 'Mossor√≥, RN',
       'Sorocaba, SP', 'Dois Irm√£os, RS', 'Arcos, MG',
       'Jaragu√° do Sul, SC', 'Joinville, SC', 'Capivari, SP',
       'V√°rzea Grande, MT', 'Rio de Janeiro e Regi√£o', 'Brasil',
       'Mar√≠lia, SP', 'Aracaju, SE', 'Pato Branco, PR',
       'Vit√≥ria e Regi√£o', 'Franca, SP', 'Rio do Sul, SC', 'Sumar√©, SP',
       'Ibirama, SC', 'Belo Horizonte e Regi√£o', 'Recife, PE',
       'Manaus, AM', 'Embu das Artes, SP', 'Eldorado do Sul, RS',
       'Vi√ßosa, MG', 'S√£o Jos√© do Rio Preto, SP', 'Belo Horizonte, MG',
       'Leopoldina, MG', 'Monte Belo, MG', 'Londrina, PR', 'Salvador, BA',
       'Morrinhos, GO', 'Vila Velha, ES', 'Ribeir√£o Preto, SP',
       'Cuiab√°, MT', 'Porto Alegre e Regi√£o', 'Florian√≥polis, SC',
       'Bel√©m, PA', 'Jundia√≠, SP', 'Santo Andr√©, SP', 'Santa Rosa, RS',
       'Florian√≥polis e Regi√£o', 'Guarulhos, SP', 'Mat√£o, SP',
       'Lucas do Rio Verde, MT', 'Ponta Grossa, PR', 'Carlos Barbosa, RS',
       'Teresina, PI', 'Navira√≠, MS', 'Paul√≠nia, SP', 'Tail√¢ndia, PA',
       'Paragominas, PA', 'Amp√©re, PR', 'Taguatinga, DF', 'Toledo, PR',
       'Igrejinha, RS', 'Garibaldi, RS', 'Santa Cruz do Sul, RS',
       'Rio Grande, RS', 'Nova Lima, MG', 'Nova Santa Rita, RS',
       'Piracicaba, SP', 'Santos, SP', 'Vespasiano, MG',
       'S√£o Paulo, Brasil', 'Aruj√°, SP', 'Rio de Janeiro, Brasil',
       'Cascavel, PR', 'Lorena, SP', 'Indaiatuba, SP',
       'Distrito Federal, Brasil', 'Jacare√≠, SP', 'S√£o Jo√£o del-Rei, MG',
       'Cabo de Santo Agostinho, PE', 'S√£o Bernardo do Campo, SP',
       'Ribeir√£o Grande, SP', 'Dourados, MS', 'Valinhos, SP',
       'Agudos, SP', 'Ituiutaba, MG', 'Alto Horizonte, GO',
       'S√£o Jos√© dos Pinhais, PR', 'Pinhais, PR',
       'S√£o Jos√© dos Campos, SP', 'Canoas, RS', 'Guarapuava, PR',
       'Barretos, SP', 'Campinas e Regi√£o', 'Curitiba e Regi√£o',
       'Goi√¢nia e Regi√£o', 'Bebedouro, SP', 'Hortol√¢ndia, SP',
       'Recife e Regi√£o', 'Palho√ßa, SC', 'Limeira, SP', 'Nova Igua√ßu, RJ',
       'Jaboat√£o dos Guararapes, PE', 'Natal, RN', 'S√£o Luis, PA',
       'Jandira, SP', 'Eus√©bio, CE', 'Parauapebas, PA', 'Itapevi, SP',
       'S√£o Luis, MA', 'Ji-Paran√°, RO', 'Camb√©, PR',
       'Po√ßos de Caldas, MG', 'Belem, PA', 'Serra do Salitre, MG',
       'Chapec√≥, SC', 'Bar√£o de Cocais, MG', 'Santa Maria do Par√°, PA',
       'S√£o Bento do Sul, SC', 'Manacapuru, AM', 'Barbacena, MG',
       'Lagoa da Prata, MG', 'Cajamar, SP', 'Gavi√£o Peixoto, SP',
       'Colina, SP', 'Itaperu√ßu, PR', 'Rio Brilhante, MS',
       'Mato Dentro, MG', 'Jaguari√∫na, SP', 'Sert√£ozinho, SP',
       'Itabira, MG', 'Ouroeste, SP', 'Franco da Rocha, SP',
       'Ol√≠mpia, SP', 'Ibat√©, SP', 'Cana√£ dos Caraj√°s, PA', 'Arax√°, MG',
       'Mariana, MG', 'Angra dos Reis, RJ', 'Itabera√≠, GO',
       'Guaratinguet√°, SP', 'Cataguases, MG', 'Ouro Branco, MG',
       'S√£o Caetano do Sul, SP', 'Corumb√°, MS', 'S√£o Jo√£o da Barra, RJ',
       'Sergipe, Brasil', 'Cama√ßari, BA', 'Rio Grande do Sul, Brasil',
       'Aparecida de Goi√¢nia, GO', 'Cabre√∫va, SP', 'Cocalinho, MT',
       'Bel√©m e Regi√£o', 'Barcarena, PA', 'Candeias, BA', 'Cruz Alta, RS',
       'Guadalupe, PI', 'S√£o Francisco do Conde, BA', 'Ipojuca, PE',
       'I√ßara, SC', 'Navegantes, SC', 'Bras√≠lia e Regi√£o',
       'V√°rzea da Palma, MG', 'Balne√°rio Cambori√∫, SC', 'Conc√≥rdia, SC',
       'Americana, SP', 'Varginha, MG', "Sant'Ana do Livramento, RS",
       'Niter√≥i, RJ', 'Boa Vista, RR', 'Lu√≠s Eduardo Magalh√£es, BA',
       'Sorriso, MT', 'Montes Claros, MG', 'Itajub√°, MG',
       'S√£o Carlos, SP', 'Campina Grande, PB', 'Bag√©, RS', 'Videira, SC',
       'Uruguaiana, RS', 'Tapejara, RS', 'Cunha, SP', 'Aragua√≠na, TO',
       'Taubat√©, SP', 'Curvelo, MG', 'S√£o Jos√©, SC', 'S√£o Lu√≠s, MA',
       'Juiz de Fora, MG', 'Salvador e Regi√£o', 'Uberaba, MG',
       'Gua√≠ba, RS', 'Pedreira, SP', 'Vinhedo, SP', 'Santo Cristo, RS',
       'Engenheiro Beltr√£o, PR', 'Porto Feliz, SP', 'Suzano, SP',
       'Diadema, SP', 'Montenegro, RS', 'Cariacica, ES',
       "Santa B√°rbara d'Oeste, SP", 'Cotia, SP', 'Linhares, ES',
       'Campos dos Goytacazes, RJ', 'Duque de Caxias, RJ', 'Resende, RJ',
       'Caruaru, PE', 'Olinda, PE', 'Campo Largo, PR', 'Marab√°, PA',
       'Castanhal, PA', 'Santar√©m, PA', 'Cabedelo, PB',
       'Cachoeiro de Itapemirim, ES', 'Jo√£o Pessoa, PB', 'Guarapari, ES',
       'Parnamirim, RN', 'Natal e Regi√£o', 'Petrolina, PE',
       'Feira de Santana, BA', 'Vit√≥ria da Conquista, BA',
       'Caratinga, MG', 'Brusque, SC', 'Guaramirim, SC', 'Crici√∫ma, SC',
       'Timb√≥, SC', 'Lages, SC', 'Bigua√ßu, SC', 'Tubar√£o, SC',
       'Porto Belo, SC', 'Itapema, SC', 'Paranagu√°, PR',
       'Campina Grande do Sul, PR', 'Colombo, PR',
       'Francisco Beltr√£o, PR', 'Fazenda Rio Grande, PR', 'Arapongas, PR',
       'Foz do Igua√ßu, PR', 'An√°polis, GO', 'Rio Verde, GO',
       'Porto Velho, RO', 'Viana, ES', 'Araquari, SC', 'Arapiraca, AL',
       'Macei√≥, AL', 'Cabo Frio, RJ', 'Petr√≥polis, RJ', 'S√£o Gon√ßalo, RJ',
       'Rio das Ostras, RJ', 'Volta Redonda, RJ', 'Juazeiro do Norte, CE',
       'Patos de Minas, MG', 'Lavras, MG', 'Divin√≥polis, MG',
       'Ribeir√£o das Neves, MG', 'Extrema, MG',
       'Governador Valadares, MG', 'Pouso Alegre, MG', 'Sete Lagoas, MG',
       'Ipatinga, MG', 'Quatro Barras, PR', 'Arauc√°ria, PR',
       'Itabirito, MG', 'Rio Branco, AC', 'Tabo√£o da Serra, SP',
       'Bragan√ßa Paulista, SP', 'Guaruj√°, SP', 'Araras, SP',
       'Rio Claro, SP', 'Presidente Prudente, SP', 'Praia Grande, SP',
       'Louveira, SP', 'Mogi Gua√ßu, SP', 'Nova Odessa, SP',
       'Pindamonhangaba, SP', 'Atibaia, SP', 'Araraquara, SP', 'Itu, SP',
       'Caraguatatuba, SP', 'Ribeir√£o Pires, SP', 'Ara√ßatuba, SP',
       'Caieiras, SP', 'Itapecerica da Serra, SP', 'Mau√°, SP',
       'Campo Bom, RS', 'S√£o Leopoldo, RS', 'Iju√≠, RS', 'Gramado, RS',
       'Cap√£o da Canoa, RS', 'Alvorada, RS', 'Esteio, RS', 'Pelotas, RS',
       'Bento Gon√ßalves, RS', 'Flores da Cunha, RS', 'Santa Maria, RS',
       'Est√¢ncia Velha, RS', 'Sapucaia do Sul, RS', 'Tr√™s Lagoas, MS',
       'Itatiba, SP', 'Votorantim, SP', 'Santana de Parna√≠ba, SP',
       'Bauru, SP', 'Imperatriz, MA', 'Farroupilha, RS', 'Viam√£o, RS',
       'Conselheiro Lafaiete, MG', 'Lagoa Santa, MG',
       'Primavera do Leste, MT', 'Sinop, MT', '√Ålvares Machado, SP',
       'Caucaia, CE', 'Rondon√≥polis, MT', 'Macap√°, AP', 'Passo Fundo, RS',
       'Gaspar, SC', 'Campo Grande, SP', 'Duque de Caxias, BA',
       'Paran√°, Brasil', 'Minas Gerais, Brasil', 'Cambori√∫, SC',
       'Ananindeua, PA', 'Sarzedo, MG', 'S√£o Jos√© do Inhacor√°, RS',
       'Fund√£o, ES'], dtype=object)

In [73]:
df.to_csv('jobs_classified.csv')

In [80]:
df = jobs[['job_title', 'classified_job_title']]
df[df['classified_job_title'] == 'Analista de Dados'].sample(10)

                                              job_title classified_job_title
157                                Analista de Dados PL    Analista de Dados
114                                   Analista de Dados    Analista de Dados
294                                   Analista de dados    Analista de Dados
2110                              Business/Data Analyst    Analista de Dados
325                               ANALISTA DE DADOS SR.    Analista de Dados
2056                                   SQL Data Analyst    Analista de Dados
368   Analista de Dados - N√∫cleo de Inova√ß√£o e Melho...    Analista de Dados
117                                   Analista de Dados    Analista de Dados
6                                   Assistente de Dados    Analista de Dados
535   Analista de Dados e Controle - (Vaga Extensiva...    Analista de Dados

In [70]:
df[(df['classified_job_title'] == 'Engenheiro de IA') & (~df['job_title'].str.contains('[Ee]ngenheiro|ENGENHEIRO|[Ee]ngineer'))]

                                         job_title classified_job_title
455   Analista de dados e automa√ß√£o com IA - Pleno     Engenheiro de IA
3377              AI ENGINEER - RECRUTAMENTO ATIVO     Engenheiro de IA

In [432]:
output_df['classified_job_title'].value_counts()

classified_job_title
Analista de Dados                 655
Engenheiro de Dados               587
Cientista de Dados                523
Outros                            353
Engenheiro de Software            181
Analista de BI                     79
Engenheiro de IA                   38
Engenheiro de Machine Learning     30
Analytics Engineer                 25
Engenheiro de DevOps               19
Outros Dados                       13
Arquiteto de Dados                 12
Name: count, dtype: int64

In [435]:
output_df[~output_df['classified_job_title'].str.contains(
    'Engenheiro de Machine Learning|Analista de Dados|Engenheiro de Dados|Cientista de Dados|Analista de BI|Engenheiro de IA', na=False)].sample(10)

,job_title,classified_job_title
862,Engenheiro Civil - Auditor,Outros
737,ENGENHEIRO AGRIMENSOR - CAN√ÉA DOS CARAJ√ÅS/PARA...,Outros
753,Engenheiro(a) de Software Pl. Node - (Marketpl...,Engenheiro de Software
884,ENGENHEIRO DE SOFTWARE ‚Äì PORTO ALEGRE ‚Äì RS - P...,Engenheiro de Software
936,Engenheiro(a) Estrutural - Angra dos Reis - RJ,Outros
567,Engenheiro(a) de Computa√ß√£o - AM/BA/CE/RJ/RN/SE,Outros
843,T√©cnico de Planejamento (Civil / Manuten√ß√£o),Outros
1652,Analytics Engineer Senior,Analytics Engineer
894,GERENTE DE PCP,Outros
1162,Engenheiro(a) de Software S√™nior (Node.js/React),Engenheiro de Software

In [433]:
output_df.iloc[1468]

job_title               Gerente de Arquitetura
classified_job_title        Arquiteto de Dados
Name: 1468, dtype: object

In [407]:
cleaned_title = 'Computer Vision Engineer'
cleaned_title = cleaned_title.lower()
if ('cientista' in cleaned_title and 'dados' in cleaned_title) or 'data scientist' in cleaned_title or re.search(r'ci[√™e]ncia de dados', cleaned_title):
      print('yes')
if 'ia' in cleaned_title or 'ml' in cleaned_title or 'artificial intelligence' in cleaned_title or 'machine learning' in cleaned_title or \
        'generativa' in cleaned_title or 'nlp' in cleaned_title or 'llm' in cleaned_title or 'computer' in cleaned_title:
            print('yes')

yes

In [404]:
classify_job_title('Computer Vision Engineer')

computer vision engineer

'Outros'

In [255]:
output_df[(output_df['job_title'].str.contains('[Aa]nalista')) & (~output_df['classified_job_title'].str.contains('Analista de Dados|Analista de BI'))]

                                              job_title classified_job_title
405   Analista de Data & Analytics (Engenheiro de da...   Analytics Engineer
2389  Analytics Engineer S√™nior (Analista de Dados\n...   Analytics Engineer
2399       Analytics Engineer S√™nior (Analista de Dados   Analytics Engineer

In [364]:
output_df[output_df['job_title'].str.contains('DataOps')]

                                      job_title classified_job_title
1184  Engenheiro de Plataforma DataOps - S√™nior  Engenheiro de Dados

In [306]:
output_df[(output_df['classified_job_title'].str.contains('Arquiteto'))]

                                              job_title classified_job_title
723   Pesquisador em Arquitetura de Dados e Engenhar...   Arquiteto de Dados
1271       SM 609 ESPEC TI - ARQ DE DADOS - HIBRIDO v.b   Arquiteto de Dados
1673                              Arquiteto(a) de Dados   Arquiteto de Dados
1810                                  Sr Data Architect   Arquiteto de Dados
1844                                 Arquiteto de dados   Arquiteto de Dados
1868                                 Arquiteto de dados   Arquiteto de Dados
1869                    Arquiteto de Dados GCP (S√™nior)   Arquiteto de Dados
1919         Arquiteto de dados / Arquiteto de Sistemas   Arquiteto de Dados
1925                      Arquiteto de dados gcp senior   Arquiteto de Dados
2511                        Solutions Architect - Azure   Arquiteto de Dados

In [103]:
df_skills = pd.read_csv('../data/processed/df_skills.csv')

In [ ]:
jobs['location'].value_counts()

location
S√£o Paulo, SP                  True
Brasil                         True
S√£o Paulo e Regi√£o             True
Rio de Janeiro e Regi√£o        True
Curitiba, PR                   True
                              ...
V√°rzea da Palma, MG           False
I√ßara, SC                     False
Carlos Barbosa, RS            False
S√£o Francisco do Conde, BA    False
S√£o Jos√© do Inhacor√°, RS      False
Name: count, Length: 347, dtype: bool

In [85]:
GROUPED_SKILL_MAP = {
    'Solu√ß√£o de problemas': ['solu√ß√£o de problemas', 'problem solving'],
    'Pensamento cr√≠tico': ['critical thinking', 'pensamento cr√≠tico'],
    'Intelig√™ncia Artificial': ['ia', 'intelig√™ncia artificial', 
                                'artificial intelligence', 'ai'],
    'Machine Learning': ['machine learning', 'aprendizado de m√°quina'],
    'Cloud': ['cloud', 'nuvem', 'computa√ß√£o em nuvem', 'cloud computing', 'gcp',
              'azure'],
    'NLP' : ['natural language processing', 'processamento de linguagem natural',
             'pln', 'nlp'],
    'Vis√£o computacional': ['vis√£o computacional', 'computer vision'],
    'Feature engineering': ['feature engineering'],
    'Visualiza√ß√£o de dados': ['data visualization', 'tableau', 'power bi', 
                              'visualiza√ß√£o de dados'],
    'Programa√ß√£o': ['programa√ß√£o'],
    'GCP': ['gcp'],
    'Excel': ['excel'],
    'Tableau': ['tableau'],
    'Adaptabildiade': ['adaptabilidade'],
    'Azure': ['azure'],
    'Estat√≠stica': ['estat√≠stica', 'statistics'],
    'R': ['r'],
    'Trabalho em equipe': ['trabalho em equipe'],
    'Limpeza de dados': ['limpeza de dados', 'data cleaning'],
    'Arquitetura de dados': ['arquitetura de dados', 'data architecture'],
    'S√©ries temporais': ['s√©ries temporais', 'time series'],
    'BI': ['business intelligence', 'intelig√™ncia de neg√≥cios', 'bi'],
    'Python': ['python'],
    'Teste A/B': ['a/b'],
    'ETL': ['etl'],
    'Aprendizado por refor√ßo': ['reinforcement learning'],
    'PostgreSQL': ['postgresql'],
    'Redes neurais': ['redes neurais'],
    'NoSQL': ['nosql'],
    'Airflow': ['airflow'],
    'Comunica√ß√£o': ['comunica√ß√£o'],
    'Tensorflow': ['tensorflow'],
    'Data Warehouse': ['data warehouse'],
    'Kubernetes': ['kubernetes'],
    'Pipeline': ['pipeline', 'data pipeline'],
    'Governan√ßa de dados': ['governan√ßa de dados', 'data governance'],
    'Hadoop': ['hadoop'],
    'Manipula√ß√£o de dados': ['data wrangling', 'manipula√ß√£o de dados'],
    'Qualidade dos dados': ['data quality', 'qualidade dos dados'],
    'PyTorch': ['pytorch'],
    'MySQL': ['mysql'],
    'An√°lise de neg√≥cios': ['business analytics', 'an√°lise de neg√≥cios'],
    'Deep Learning': ['deep learning', 'aprendizado profundo'],
    'Big Data': ['big data'],
    'Data storytelling': ['storytelling'],
    'Minera√ß√£o de dados': ['minera√ß√£o de dados', 'data mining'],
    'Tensorflow': ['tensorflow'],
    'SQL': ['sql'],
    'Power BI': ['power bi'],
    'Spark': ['spark', 'pyspark'],
    'API': ['api'],
    'Scikit-learn': ['scikit-learn'],
    'Pandas': ['pandas'],
    'Docker': ['docker'],
    'AWS': ['aws'],
    'MATLAB': ['matlab'],
    'SQL Server': ['sql server'],
    'NumPy': ['numpy']
    }

In [87]:
from collections import defaultdict
import unicodedata
 
def normalize_text(text):
    return ''.join(
        c for c in unicodedata.normalize('NFD', text)
        if unicodedata.category(c) != 'Mn'
    ).lower().strip()

# SKILLS_LIST e MAP gerados dinamicamente
SKILLS_LIST = [skill for sublist in GROUPED_SKILL_MAP.values() for skill in sublist]

In [89]:
standard_skill_map = GROUPED_SKILL_MAP

In [91]:
mapping = GROUPED_SKILL_MAP
mapping.items()

multi_standard_skill_map = defaultdict(set)
if standard_skill_map:
    for canonical, variants in mapping.items():
        for variant in variants:
            normalized = normalize_text(variant)
            multi_standard_skill_map[normalized].add(canonical)

In [93]:
def standardize_skills(skills):
    standardized = set()
    for skill in skills:
        matches = multi_standard_skill_map.get(skill, {skill})
        standardized.update(matches)
    return list(standardized)

standardize_skills(['programa√ß√£o'])

['programa√ß√£o']

In [104]:
def normalize_text(text):
    return ''.join(
        c for c in unicodedata.normalize('NFD', text)
        if unicodedata.category(c) != 'Mn'
    ).lower().strip()

In [140]:
df_skills = pd.read_csv('../data/processed/df_skills.csv')
normalized_to_canonical = {}
for variants, canonicals in multi_standard_skill_map.items():
    for canonical in canonicals:
        normalized_to_canonical[variants] = canonical

df_skills["skill"] = df_skills["skill"].apply(normalize_text)
df_skills["skill"] = df_skills["skill"].map(lambda x: normalized_to_canonical.get(x, x))

In [141]:
normalized_to_canonical.get('azure', 'n√£o')

'Cloud'

In [137]:
df_skills

        job_id       skill
0   4207529696       azure
1   4207529696         aws
2   4207529696      python
3   4207529696         etl
4   4207529696     airflow
..         ...         ...
72  4203492259  kubernetes
73  4203492259          ai
74  4203492259      python
75  4203492259         sql
76  4203492259       azure

[77 rows x 2 columns]

In [98]:
df_skills['skill'].unique()

array(['predictive', 'problem solving', 'critical thinking', 'sql',
       'data analysis', 'bi', 'python', 'statistics', 'tableau', 'ai',
       'business intelligence', 'spark', 'nosql', 'big data', 'etl',
       'cloud', 'pipelines', 'sql server', 'aws', 'azure',
       'data architecture', 'r', 'data visualization', 'power bi', 'ia',
       'qualidade dos dados', 'colabora√ß√£o', 'intelig√™ncia artificial',
       'ci√™ncia de dados', 'an√°lise de dados', 'visualiza√ß√£o de dados',
       'data science', 'programa√ß√£o', 'limpeza de dados',
       'adaptabilidade', 'airflow', 'gcp', 'nuvem', 'computa√ß√£o em nuvem',
       'excel', 'machine learning', 'pandas', 'data storytelling',
       'estat√≠stica', 'data warehouse', 'numpy',
       'artificial intelligence', 'data cleaning', 'governan√ßa de dados',
       'aprendizado de m√°quina', 'data pipeline', 'data engineering',
       'data mining', 'mysql', 'postgresql', 'preditiva', 'data quality',
       'intelig√™ncia de neg√≥cios', 'data governance', 'data wrangling',
       'api', 'arquitetura de dados', 'testes a/b', 'pensamento cr√≠tico',
       'cloud computing', 'scikit-learn', 'a/b testing',
       'engenharia de dados', 'trabalho em equipe', 'an√°lise de neg√≥cios',
       'business analytics', 'hadoop', 'solu√ß√£o de problemas',
       's√©ries temporais', 'redes neurais', 'nlp', 'tensorflow',
       'kubernetes', 'processamento de linguagem natural', 'pytorch',
       'docker', 'deep learning', 'vis√£o computacional',
       'aprendizado por refor√ßo', 'pln', 'natural language processing',
       'feature engineering', 'minera√ß√£o de dados', 'matlab',
       'computer vision', 'comunica√ß√£o eficaz', 'reinforcement learning',
       'time series', 'stata'], dtype=object)