In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/jobs_data.csv')
df.head()

,job_id,work_model,keyword,scrape_date,job_title,company_name,location,time_posted,num_applicants,xp_level,job_type,job_sectors,job_description
0,4219203458,Presencial,Analista de Dados,17-05-2025,Analista de Dados e Serviço ao Cliente Junior,Cielo,"Barueri, SP",Há 2 semanas,177 candidaturas,Assistente,Tempo integral,Atividades de serviços financeiros,"Job Description\nSomos mais que uma máquina, s..."
1,4229491792,Presencial,Analista de Dados,17-05-2025,Analista de dados de negócios,SulAmérica,"São Paulo, SP",Há 23 horas,117 candidaturas,Pleno-sênior,Tempo integral,Seguros e previdência complementar e Serviços ...,A SulAmérica há mais de 125 anos se dedica a e...
2,4209520797,Presencial,Analista de Dados,17-05-2025,Analista de Dados Júnior,Banco Fibra,"São Paulo, SP",Há 4 semanas,163 candidaturas,Não aplicável,Tempo integral,Bancos,Somos um Banco que trabalha na busca do melhor...
3,4201072662,Presencial,Analista de Dados,17-05-2025,"Analista de Dados - Júnior, Pleno e Sênior | R...",Capco,"São Paulo, SP",Há 3 semanas,112 candidaturas,Pleno-sênior,Tempo integral,Atividades de serviços financeiros,SOBRE A CAPCO\nA Capco é uma consultoria globa...
4,4223039814,Presencial,Analista de Dados,17-05-2025,Analista de Dados & Analytics Pleno | Riscos e...,C6 Bank,"São Paulo, SP",Há 1 semana,89 candidaturas,Assistente,Tempo integral,Bancos,Nossa área de Processos & Controles\nA área de...

In [4]:
df[df['scrape_date'] == '18-05-2025']

,job_id,work_model,keyword,scrape_date,job_title,company_name,location,time_posted,num_applicants,xp_level,job_type,job_sectors,job_description
3412,4232385073,Presencial,Analista de Dados,18-05-2025,Analista de Dados (Produtos Financeiros),Hotmart,"São Paulo, SP",Há 10 horas,NaN,Não aplicável,Tempo integral,"Tecnologia, Informação e Internet","AQUI VOCÊ IMPACTA DE VERDADE: SUA CARREIRA, AS..."
3413,4232320347,Presencial,Analista de Dados,18-05-2025,Analista de dados bi junior v costa silva fari...,Netvagas,"Arcos, MG",Há 16 horas,NaN,Pleno-sênior,Tempo integral,Fornecimento e gestão de recursos humanos,"Na V4 Company, desafiamos o mercado e entregam..."
3414,4231369951,Presencial,Analista de Dados,18-05-2025,Analista de Dados Sênior,Original Precatórios,São Paulo e Região,Há 2 dias,NaN,Pleno-sênior,Tempo integral,Atividades fotográficas e similares,Criar e manter dashboards estratégicos e relat...
3415,4229782422,Presencial,Analista de Dados,18-05-2025,ANALISTA DE DADOS TI - PAINEL DE OPORTUNIDADES,WebSite BuscarVagas BR,"Porto Alegre, RS",Há 1 dia,NaN,Assistente,Tempo integral,Fornecimento e gestão de recursos humanos,Área De Atuação\nTécnico em Informática\nLocal...
3416,4225251476,Presencial,Analista de Dados,18-05-2025,Analista de Dados Pleno,XCMG Brasil Indústria,"Pouso Alegre, MG",Há 2 semanas,NaN,Assistente,Tempo integral,Fabricação de máquinas e equipamentos,Descrição\nProjetar e implementar processos de...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3500,4231053333,Presencial,Analista de BI,18-05-2025,Programador de Sistemas de Informação,Sebratel,"Porto Alegre, RS",Há 2 dias,NaN,Assistente,Tempo integral,Telecomunicações,"DESCRIÇÃO\nA SEBRATEL, empresa referência no s..."
3501,4232436842,Híbrido,Analista de BI,18-05-2025,Analista de BI (Inteligência de Mercado) - MG,Drogaria Araujo S/A,"Belo Horizonte, MG",Há 33 minutos,NaN,Pleno-sênior,Tempo integral,Comércio varejista,"A Drogaria Araujo, a maior Rede de Varejo Farm..."
3502,4232150473,Híbrido,Analista de BI,18-05-2025,Analista de bi business intelligence,Netvagas,"São Paulo, SP",Há 1 dia,NaN,Pleno-sênior,Tempo integral,Fornecimento e gestão de recursos humanos,"Na Connect For People, acreditamos em conectar..."
3503,4232380566,Remoto,Analista de BI,18-05-2025,Analista de bi pleno,Netvagas,Brasil,Há 10 horas,NaN,Assistente,Tempo integral,Fornecimento e gestão de recursos humanos,"A FIAP é uma faculdade de tecnologia, inovação..."
3504,4232422801,Remoto,Engenheiro de IA,18-05-2025,Engenheiro de inovacao e prototipagem,Netvagas,Brasil,Há 2 horas,NaN,Assistente,Tempo integral,Fornecimento e gestão de recursos humanos,"Conectar o mundo é o que nos move, e conectar ..."

In [5]:
import pandas as pd
import matplotlib.pyplot as plt

# Load data
jobs = pd.read_csv('../data/processed/df_jobs_classified.csv')
skills = pd.read_csv('../data/processed/df_skills.csv')

In [8]:
skills.sample(4)

           job_id             skill
12046  4222894368            Python
17678  4226690135             Excel
16490  4217139005            Pandas
1184   4231036085  Machine Learning

In [73]:
df.to_csv('jobs_classified.csv')

In [80]:
df = jobs[['job_title', 'classified_job_title']]
df[df['classified_job_title'] == 'Analista de Dados'].sample(10)

                                              job_title classified_job_title
157                                Analista de Dados PL    Analista de Dados
114                                   Analista de Dados    Analista de Dados
294                                   Analista de dados    Analista de Dados
2110                              Business/Data Analyst    Analista de Dados
325                               ANALISTA DE DADOS SR.    Analista de Dados
2056                                   SQL Data Analyst    Analista de Dados
368   Analista de Dados - Núcleo de Inovação e Melho...    Analista de Dados
117                                   Analista de Dados    Analista de Dados
6                                   Assistente de Dados    Analista de Dados
535   Analista de Dados e Controle - (Vaga Extensiva...    Analista de Dados

In [70]:
df[(df['classified_job_title'] == 'Engenheiro de IA') & (~df['job_title'].str.contains('[Ee]ngenheiro|ENGENHEIRO|[Ee]ngineer'))]

                                         job_title classified_job_title
455   Analista de dados e automação com IA - Pleno     Engenheiro de IA
3377              AI ENGINEER - RECRUTAMENTO ATIVO     Engenheiro de IA

In [432]:
output_df['classified_job_title'].value_counts()

classified_job_title
Analista de Dados                 655
Engenheiro de Dados               587
Cientista de Dados                523
Outros                            353
Engenheiro de Software            181
Analista de BI                     79
Engenheiro de IA                   38
Engenheiro de Machine Learning     30
Analytics Engineer                 25
Engenheiro de DevOps               19
Outros Dados                       13
Arquiteto de Dados                 12
Name: count, dtype: int64

In [435]:
output_df[~output_df['classified_job_title'].str.contains(
    'Engenheiro de Machine Learning|Analista de Dados|Engenheiro de Dados|Cientista de Dados|Analista de BI|Engenheiro de IA', na=False)].sample(10)

,job_title,classified_job_title
862,Engenheiro Civil - Auditor,Outros
737,ENGENHEIRO AGRIMENSOR - CANÃA DOS CARAJÁS/PARA...,Outros
753,Engenheiro(a) de Software Pl. Node - (Marketpl...,Engenheiro de Software
884,ENGENHEIRO DE SOFTWARE – PORTO ALEGRE – RS - P...,Engenheiro de Software
936,Engenheiro(a) Estrutural - Angra dos Reis - RJ,Outros
567,Engenheiro(a) de Computação - AM/BA/CE/RJ/RN/SE,Outros
843,Técnico de Planejamento (Civil / Manutenção),Outros
1652,Analytics Engineer Senior,Analytics Engineer
894,GERENTE DE PCP,Outros
1162,Engenheiro(a) de Software Sênior (Node.js/React),Engenheiro de Software

In [433]:
output_df.iloc[1468]

job_title               Gerente de Arquitetura
classified_job_title        Arquiteto de Dados
Name: 1468, dtype: object

In [407]:
cleaned_title = 'Computer Vision Engineer'
cleaned_title = cleaned_title.lower()
if ('cientista' in cleaned_title and 'dados' in cleaned_title) or 'data scientist' in cleaned_title or re.search(r'ci[êe]ncia de dados', cleaned_title):
      print('yes')
if 'ia' in cleaned_title or 'ml' in cleaned_title or 'artificial intelligence' in cleaned_title or 'machine learning' in cleaned_title or \
        'generativa' in cleaned_title or 'nlp' in cleaned_title or 'llm' in cleaned_title or 'computer' in cleaned_title:
            print('yes')

yes

In [404]:
classify_job_title('Computer Vision Engineer')

computer vision engineer

'Outros'

In [255]:
output_df[(output_df['job_title'].str.contains('[Aa]nalista')) & (~output_df['classified_job_title'].str.contains('Analista de Dados|Analista de BI'))]

                                              job_title classified_job_title
405   Analista de Data & Analytics (Engenheiro de da...   Analytics Engineer
2389  Analytics Engineer Sênior (Analista de Dados\n...   Analytics Engineer
2399       Analytics Engineer Sênior (Analista de Dados   Analytics Engineer

In [364]:
output_df[output_df['job_title'].str.contains('DataOps')]

                                      job_title classified_job_title
1184  Engenheiro de Plataforma DataOps - Sênior  Engenheiro de Dados

In [306]:
output_df[(output_df['classified_job_title'].str.contains('Arquiteto'))]

                                              job_title classified_job_title
723   Pesquisador em Arquitetura de Dados e Engenhar...   Arquiteto de Dados
1271       SM 609 ESPEC TI - ARQ DE DADOS - HIBRIDO v.b   Arquiteto de Dados
1673                              Arquiteto(a) de Dados   Arquiteto de Dados
1810                                  Sr Data Architect   Arquiteto de Dados
1844                                 Arquiteto de dados   Arquiteto de Dados
1868                                 Arquiteto de dados   Arquiteto de Dados
1869                    Arquiteto de Dados GCP (Sênior)   Arquiteto de Dados
1919         Arquiteto de dados / Arquiteto de Sistemas   Arquiteto de Dados
1925                      Arquiteto de dados gcp senior   Arquiteto de Dados
2511                        Solutions Architect - Azure   Arquiteto de Dados

In [103]:
df_skills = pd.read_csv('../data/processed/df_skills.csv')

In [ ]:
jobs['location'].value_counts()

location
São Paulo, SP                  True
Brasil                         True
São Paulo e Região             True
Rio de Janeiro e Região        True
Curitiba, PR                   True
                              ...
Várzea da Palma, MG           False
Içara, SC                     False
Carlos Barbosa, RS            False
São Francisco do Conde, BA    False
São José do Inhacorá, RS      False
Name: count, Length: 347, dtype: bool

In [85]:
GROUPED_SKILL_MAP = {
    'Solução de problemas': ['solução de problemas', 'problem solving'],
    'Pensamento crítico': ['critical thinking', 'pensamento crítico'],
    'Inteligência Artificial': ['ia', 'inteligência artificial', 
                                'artificial intelligence', 'ai'],
    'Machine Learning': ['machine learning', 'aprendizado de máquina'],
    'Cloud': ['cloud', 'nuvem', 'computação em nuvem', 'cloud computing', 'gcp',
              'azure'],
    'NLP' : ['natural language processing', 'processamento de linguagem natural',
             'pln', 'nlp'],
    'Visão computacional': ['visão computacional', 'computer vision'],
    'Feature engineering': ['feature engineering'],
    'Visualização de dados': ['data visualization', 'tableau', 'power bi', 
                              'visualização de dados'],
    'Programação': ['programação'],
    'GCP': ['gcp'],
    'Excel': ['excel'],
    'Tableau': ['tableau'],
    'Adaptabildiade': ['adaptabilidade'],
    'Azure': ['azure'],
    'Estatística': ['estatística', 'statistics'],
    'R': ['r'],
    'Trabalho em equipe': ['trabalho em equipe'],
    'Limpeza de dados': ['limpeza de dados', 'data cleaning'],
    'Arquitetura de dados': ['arquitetura de dados', 'data architecture'],
    'Séries temporais': ['séries temporais', 'time series'],
    'BI': ['business intelligence', 'inteligência de negócios', 'bi'],
    'Python': ['python'],
    'Teste A/B': ['a/b'],
    'ETL': ['etl'],
    'Aprendizado por reforço': ['reinforcement learning'],
    'PostgreSQL': ['postgresql'],
    'Redes neurais': ['redes neurais'],
    'NoSQL': ['nosql'],
    'Airflow': ['airflow'],
    'Comunicação': ['comunicação'],
    'Tensorflow': ['tensorflow'],
    'Data Warehouse': ['data warehouse'],
    'Kubernetes': ['kubernetes'],
    'Pipeline': ['pipeline', 'data pipeline'],
    'Governança de dados': ['governança de dados', 'data governance'],
    'Hadoop': ['hadoop'],
    'Manipulação de dados': ['data wrangling', 'manipulação de dados'],
    'Qualidade dos dados': ['data quality', 'qualidade dos dados'],
    'PyTorch': ['pytorch'],
    'MySQL': ['mysql'],
    'Análise de negócios': ['business analytics', 'análise de negócios'],
    'Deep Learning': ['deep learning', 'aprendizado profundo'],
    'Big Data': ['big data'],
    'Data storytelling': ['storytelling'],
    'Mineração de dados': ['mineração de dados', 'data mining'],
    'Tensorflow': ['tensorflow'],
    'SQL': ['sql'],
    'Power BI': ['power bi'],
    'Spark': ['spark', 'pyspark'],
    'API': ['api'],
    'Scikit-learn': ['scikit-learn'],
    'Pandas': ['pandas'],
    'Docker': ['docker'],
    'AWS': ['aws'],
    'MATLAB': ['matlab'],
    'SQL Server': ['sql server'],
    'NumPy': ['numpy']
    }

In [87]:
from collections import defaultdict
import unicodedata
 
def normalize_text(text):
    return ''.join(
        c for c in unicodedata.normalize('NFD', text)
        if unicodedata.category(c) != 'Mn'
    ).lower().strip()

# SKILLS_LIST e MAP gerados dinamicamente
SKILLS_LIST = [skill for sublist in GROUPED_SKILL_MAP.values() for skill in sublist]

In [89]:
standard_skill_map = GROUPED_SKILL_MAP

In [91]:
mapping = GROUPED_SKILL_MAP
mapping.items()

multi_standard_skill_map = defaultdict(set)
if standard_skill_map:
    for canonical, variants in mapping.items():
        for variant in variants:
            normalized = normalize_text(variant)
            multi_standard_skill_map[normalized].add(canonical)

In [93]:
def standardize_skills(skills):
    standardized = set()
    for skill in skills:
        matches = multi_standard_skill_map.get(skill, {skill})
        standardized.update(matches)
    return list(standardized)

standardize_skills(['programação'])

['programação']

In [104]:
def normalize_text(text):
    return ''.join(
        c for c in unicodedata.normalize('NFD', text)
        if unicodedata.category(c) != 'Mn'
    ).lower().strip()

In [140]:
df_skills = pd.read_csv('../data/processed/df_skills.csv')
normalized_to_canonical = {}
for variants, canonicals in multi_standard_skill_map.items():
    for canonical in canonicals:
        normalized_to_canonical[variants] = canonical

df_skills["skill"] = df_skills["skill"].apply(normalize_text)
df_skills["skill"] = df_skills["skill"].map(lambda x: normalized_to_canonical.get(x, x))

In [141]:
normalized_to_canonical.get('azure', 'não')

'Cloud'

In [137]:
df_skills

        job_id       skill
0   4207529696       azure
1   4207529696         aws
2   4207529696      python
3   4207529696         etl
4   4207529696     airflow
..         ...         ...
72  4203492259  kubernetes
73  4203492259          ai
74  4203492259      python
75  4203492259         sql
76  4203492259       azure

[77 rows x 2 columns]

In [98]:
df_skills['skill'].unique()

array(['predictive', 'problem solving', 'critical thinking', 'sql',
       'data analysis', 'bi', 'python', 'statistics', 'tableau', 'ai',
       'business intelligence', 'spark', 'nosql', 'big data', 'etl',
       'cloud', 'pipelines', 'sql server', 'aws', 'azure',
       'data architecture', 'r', 'data visualization', 'power bi', 'ia',
       'qualidade dos dados', 'colaboração', 'inteligência artificial',
       'ciência de dados', 'análise de dados', 'visualização de dados',
       'data science', 'programação', 'limpeza de dados',
       'adaptabilidade', 'airflow', 'gcp', 'nuvem', 'computação em nuvem',
       'excel', 'machine learning', 'pandas', 'data storytelling',
       'estatística', 'data warehouse', 'numpy',
       'artificial intelligence', 'data cleaning', 'governança de dados',
       'aprendizado de máquina', 'data pipeline', 'data engineering',
       'data mining', 'mysql', 'postgresql', 'preditiva', 'data quality',
       'inteligência de negócios', 'data governance', 'data wrangling',
       'api', 'arquitetura de dados', 'testes a/b', 'pensamento crítico',
       'cloud computing', 'scikit-learn', 'a/b testing',
       'engenharia de dados', 'trabalho em equipe', 'análise de negócios',
       'business analytics', 'hadoop', 'solução de problemas',
       'séries temporais', 'redes neurais', 'nlp', 'tensorflow',
       'kubernetes', 'processamento de linguagem natural', 'pytorch',
       'docker', 'deep learning', 'visão computacional',
       'aprendizado por reforço', 'pln', 'natural language processing',
       'feature engineering', 'mineração de dados', 'matlab',
       'computer vision', 'comunicação eficaz', 'reinforcement learning',
       'time series', 'stata'], dtype=object)